.app-section {
  width: 100%;
  height: 684px;
  min-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-content {
  width: 980px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.app-section2,
.app-section4,
.app-section6 {
  background: url(../images/special_subject/app_220/bg3.jpg);
}
.app-section3,
.app-section5 {
  background: url(../images/special_subject/app_220/bg2.png) repeat 0 0 #bbf1d7;
  background-attachment: fixed;
}
.app-section1 {
  height: 780px;
  background: url(../images/special_subject/app_220/bg1.png) repeat 0 0 #ff6a5c;
  background-attachment: fixed;
}
.big-title {
  padding-top: 150px;
}
.big-title small {
  display: block;
  font-size: 32px;
  line-height: 120px;
  text-align: center;
  color: #ffffff;
}
.title-txt {
  display: inline-block;
  background: url(../images/special_subject/app_220/pics3.png) no-repeat;
}
.title-txt1 {
  width: 654px;
  height: 66px;
  background-position: 0 -738px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -10px;
}
.title-txt2 {
  width: 262px;
  height: 53px;
  background-position: -710px -79px;
}
.title-txt3 {
  width: 262px;
  height: 54px;
  background-position: -710px -158px;
}
.title-txt4 {
  width: 258px;
  height: 52px;
  background-position: -712px -240px;
}
.title-txt5 {
  width: 314px;
  height: 54px;
  background-position: -706px -322px;
}
.title-txt6 {
  width: 312px;
  height: 61px;
  background-position: -712px -407px;
}
.title-txt7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 641px;
  height: 185px;
  background-position: -712px -506px;
}
.download-widget {
  position: absolute;
  left: 243px;
  top: 370px;
}
.download-widget .download-qr-code {
  width: 262px;
  height: 262px;
  float: left;
}
.download-widget .download-links {
  float: left;
  margin-left: 65px;
  padding-top: 60px;
}
.download-widget .download-links a {
  display: block;
  width: 182px;
  height: 47px;
  background: url(../images/special_subject/app_220/pics3.png) no-repeat;
  margin-bottom: 35px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.download-widget .download-links a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
.download-widget .download-links .iphone-app-download {
  background-position: -1170px -79px;
}
.download-widget .download-links .android-app-download {
  background-position: -1170px -160px;
}
.section-pic {
  display: block;
  background: url(../images/special_subject/app_220/pics1.png) no-repeat;
  position: absolute;
}
.section-pic2 {
  width: 625px;
  height: 616px;
  left: -90px;
  top: 72px;
}
.section-pic3 {
  width: 528px;
  height: 616px;
  background-position: -706px 0;
  left: 508px;
  top: 74px;
}
.section-pic4 {
  background-image: url(../images/special_subject/app_220/pics2.png);
  width: 649px;
  height: 574px;
  left: -89px;
  top: 73px;
}
.section-pic5 {
  background-image: url(../images/special_subject/app_220/pics2.png);
  width: 491px;
  height: 583px;
  background-position: -706px 0;
  left: 508px;
  top: 73px;
}
.section-pic6 {
  background-image: url(../images/special_subject/app_220/pics3.png);
  width: 674px;
  height: 602px;
  background-position: 0 -79px;
  left: -89px;
  top: 73px;
}
.section-title {
  position: absolute;
}
.section-title small {
  display: block;
  font-size: 24px;
  line-height: 95px;
}
.section-title.section-title2,
.section-title.section-title4,
.section-title.section-title6 {
  right: 36px;
  top: 300px;
  text-align: right;
}
.section-title.section-title2 small,
.section-title.section-title4 small,
.section-title.section-title6 small {
  color: #fe6969;
}
.section-title.section-title3,
.section-title.section-title5 {
  left: 0;
  top: 300px;
  text-align: left;
}
.section-title.section-title3 small,
.section-title.section-title5 small {
  color: #ff8d41;
}
.app-section7 {
  height: 685px;
  background: url(../images/special_subject/app_220/bg4.png) repeat 0 0 #fd9465;
  background-attachment: fixed;
}
.app-section7 .big-title7 {
  padding-top: 42px;
}
.app-section7 .download-widget {
  left: 248px;
  top: 256px;
}
.app-section7 .download-widget .download-links {
  margin-left: 0;
  margin-right: 65px;
}
.section-para {
  font-size: 20px;
  color: #2ca7d9;
  position: absolute;
  left: 100px;
  top: 645px;
}
