[class^="icon-"] {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: url(../images/icons.png) no-repeat;
}
[class^="icon-small-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/icons-small.png) no-repeat;
}
.icon-hand,
.icon-small-hand {
  width: 40px;
  height: 40px;
  background-position: 0 0;
  float: left;
}
.icon-vedio {
  width: 40px;
  height: 40px;
  background-position: 0 -42px;
  float: left;
}
.icon-service,
.icon-service-hover {
  width: 35px;
  height: 35px;
  background-position: -118px -37px;
}
.icon-service-hover:hover {
  background-position: -118px 0;
}
.icon-touch,
.icon-touch-hover {
  width: 35px;
  height: 35px;
  background-position: -45px -36px;
}
.icon-touch-hover:hover {
  background-position: -45px 0;
}
.icon-calc,
.icon-calc-hover {
  width: 35px;
  height: 35px;
  background-position: -155px -36px;
}
.icon-calc-hover:hover {
  background-position: -155px 0;
}
.icon-prize,
.icon-prize-hover {
  width: 35px;
  height: 35px;
  background-position: -81px -37px;
}
.icon-prize-hover:hover {
  background-position: -81px 0;
}
.icon-android {
  width: 18px;
  height: 18px;
  background-position: -310px -139px;
}
.icon-apple {
  width: 18px;
  height: 18px;
  background-position: -310px -168px;
}
.icon-qrcode {
  width: 18px;
  height: 18px;
  background-position: -310px -196px;
}
.icon-horn {
  width: 25px;
  height: 25px;
  background-position: -10px -86px;
}
.icon-smallhorn {
  width: 15px;
  height: 15px;
  background-position: -425px -1px;
}
.icon-house {
  background-position: -210px -122px;
  width: 18px;
  height: 18px;
}
.icon-leftarrow {
  background-position: -432px -45px;
  width: 10px;
  height: 10px;
}
.icon-new {
  background-position: 0 -176px;
  width: 40px;
  height: 18px;
}
.icon-hot {
  background-position: 0 -237px;
  width: 40px;
  height: 18px;
}
.icon-reviouspage {
  background-position: -3px -292px;
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.icon-nextpage {
  background-position: -91px -292px;
  height: 37px;
  width: 37px;
  cursor: pointer;
}
.icon-qq-red {
  background-position: -124px -90px;
  width: 21px;
  height: 21px;
}
.icon-phone {
  background-position: -154px -86px;
  width: 26px;
  height: 26px;
}
.icon-lock {
  background-position: -220px -90px;
  width: 22px;
  height: 22px;
}
.icon-close {
  background-position: -189px -90px;
  width: 22px;
  height: 22px;
}
.icon-drop-hover,
.icon-drop {
  background-position: -196px -62px;
  width: 18px;
  height: 18px;
}
.icon-drop-hover:hover,
.icon-drop-hover.icon-hover,
.icon-drop.icon-hover {
  background-position: -199px -40px;
}
.icon-tip-q {
  width: 13px;
  height: 13px;
  background-position: -62px -155px;
}
.icon-tip-n {
  width: 14px;
  height: 14px;
  background-position: -132px -464px;
}
.icon-time {
  width: 12px;
  height: 12px;
  background-position: -6px -155px;
}
.icon-hook {
  width: 13px;
  height: 13px;
  background-position: -23px -155px;
}
.icon-square {
  width: 14px;
  height: 14px;
  background-position: -80px -156px;
}
.icon-plus-hover {
  width: 16px;
  height: 16px;
  background-position: -97px -154px;
}
.icon-plus-hover:hover,
.icon-plus-hover.icon-hover {
  background-position: -116px -154px;
}
.icon-dropup,
.icon-dropdown {
  width: 10px;
  height: 10px;
}
.icon-dropdown {
  background-position: -137px -157px;
}
.icon-dropup {
  background-position: -153px -157px;
}
.icon-checkTkt {
  width: 55px;
  height: 55px;
  background-position: -42px -179px;
}
.icon-data {
  height: 32px;
  width: 32px;
  background-position: -302px -1px;
}
.icon-data.active,
.icon-data:hover {
  height: 32px;
  width: 32px;
  background-position: -268px -1px;
}
.icon-envelope {
  height: 32px;
  width: 32px;
  background-position: -302px -34px;
}
.icon-envelope.active,
.icon-envelope:hover {
  height: 32px;
  width: 32px;
  background-position: -268px -34px;
}
.icon-keyhole {
  height: 32px;
  width: 32px;
  background-position: -302px -68px;
}
.icon-keyhole.active,
.icon-keyhole:hover {
  height: 32px;
  width: 32px;
  background-position: -268px -68px;
}
.icon-andrews {
  height: 32px;
  width: 32px;
  background-position: -302px -103px;
}
.icon-andrews.active,
.icon-andrews:hover {
  height: 32px;
  width: 32px;
  background-position: -268px -103px;
}
.icon-ticket-quan {
  width: 35px;
  height: 35px;
  background-position: -181px -179px;
}
.icon-ticket-xi {
  width: 35px;
  height: 35px;
  background-position: -104px -179px;
}
.icon-ticket-li {
  width: 35px;
  height: 35px;
  background-position: -143px -179px;
}
.icon-aruo {
  width: 35px;
  height: 35px;
  background-position: -55px -335px;
}
.icon-recharge {
  width: 25px;
  height: 25px;
  background-position: -171px -148px;
}
.icon-withdrawalss {
  width: 21px;
  height: 21px;
  background-position: -201px -150px;
}
.icon-preMonth {
  width: 10px;
  height: 10px;
  background-position: -224px -27px;
}
.icon-nextMonth {
  width: 10px;
  height: 10px;
  background-position: -237px -27px;
}
.icon-pre-m {
  width: 25px;
  height: 25px;
  background-position: -42px -238px;
}
.icon-next-m {
  width: 25px;
  height: 25px;
  background-position: -67px -238px;
}
.icon-user {
  width: 28px;
  height: 28px;
  background-position: -270px -137px;
}
.icon-psd {
  width: 28px;
  height: 28px;
  background-position: -270px -168px;
}
.icon-mail {
  width: 28px;
  height: 28px;
  background-position: -271px -200px;
}
.icon-tel {
  width: 28px;
  height: 28px;
  background-position: -270px -232px;
}
.icon-trdUser {
  width: 28px;
  height: 28px;
  background-position: -270px -264px;
}
.icon-bell {
  width: 28px;
  height: 28px;
  background-position: -270px -295px;
}
.icon-saved {
  width: 16px;
  height: 16px;
  background-position: -223px -44px;
}
.icon-warning {
  width: 16px;
  height: 16px;
  background-position: -223px -65px;
}
.icon-qq-x {
  width: 26px;
  height: 26px;
  background-position: -235px -122px;
}
.icon-account-overview {
  height: 18px;
  width: 18px;
  background-position: -384px -1px;
}
.icon-account-overview:hover,
.icon-account-overview-focus {
  height: 18px;
  width: 18px;
  background-position: -351px -1px;
}
.icon-investment-record {
  height: 18px;
  width: 18px;
  background-position: -384px -29px;
}
.icon-investment-record:hover,
.icon-investment-record-focus {
  height: 18px;
  width: 18px;
  background-position: -351px -29px;
}
.icon-withdrawals {
  height: 18px;
  width: 18px;
  background-position: -384px -56px;
}
.icon-withdrawals:hover,
.icon-withdrawals-focus {
  height: 18px;
  width: 18px;
  background-position: -351px -56px;
}
.icon-batch{
  height: 18px;
  width: 18px;
  background-position: -157px -468px;
}
.icon-batch:hover,
.icon-batch-focus {
  height: 18px;
  width: 18px;
  background-position: -180px -468px;
}
.icon-fund-running {
  height: 18px;
  width: 19px;
  background-position: -384px -83px;
}
.icon-fund-running:hover,
.icon-fund-running-focus {
  height: 18px;
  width: 19px;
  background-position: -351px -83px;
}
.icon-activity-awards {
  height: 19px;
  width: 19px;
  background-position: -384px -110px;
}
.icon-activity-awards:hover,
.icon-activity-awards-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -110px;
}
.icon-per-cen {
  height: 19px;
  width: 19px;
  background-position: -385px -138px;
}
.icon-per-cen:hover,
.icon-per-cen-focus {
  height: 19px;
  width: 19px;
  background-position: -352px -138px;
}
.icon-invitation {
  height: 19px;
  width: 19px;
  background-position: -384px -168px;
}
.icon-invitation:hover,
.icon-invitation-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -168px;
}
.icon-bank-card {
  height: 19px;
  width: 19px;
  background-position: -384px -196px;
}
.icon-bank-card:hover,
.icon-bank-card-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -196px;
}
.icon-news-cen {
  height: 19px;
  width: 19px;
  background-position: -384px -224px;
}
.icon-news-cen:hover,
.icon-news-cen-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -224px;
}
.icon-public-welfare {
  height: 19px;
  width: 19px;
  background-position: -384px -252px;
}
.icon-public-welfare:hover,
.icon-public-welfare-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -252px;
}
.icon-order-form {
  height: 19px;
  width: 19px;
  background-position: -384px -281px;
}
.icon-order-form:hover,
.icon-order-form-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -281px;
}
.icon-order-vip {
  height: 19px;
  width: 19px;
  background-position: -384px -314px;
}
.icon-order-vip:hover,
.icon-order-vip-focus {
  height: 19px;
  width: 19px;
  background-position: -351px -314px;
}
.icon-blue-uparrow {
  height: 11px;
  width: 11px;
  background-position: 0 -202px;
}
.icon-blue-downarrow,
.icon-blue-uparrow.active {
  height: 11px;
  width: 11px;
  background-position: -19px -202px;
}
.icon-sliod-arrow {
  height: 10px;
  width: 12px;
  background-position: -1px -220px;
}
.icon-share {
  width: 62px;
  height: 62px;
  background-position: -170px -291px;
}
.icon-tel-x {
  width: 62px;
  height: 62px;
  background-position: -103px -222px;
}
.icon-redPkg {
  width: 62px;
  height: 62px;
  background-position: -171px -223px;
}
.icon-right-x {
  width: 39px;
  height: 39px;
  background-position: -130px -294px;
}
.icon-uptip {
  width: 16px;
  height: 16px;
  background-position: -20px -218px;
}
.icon-download {
  width: 14px;
  height: 14px;
  background-position: -1px -260px;
}
.icon-download-contract {
  width: 20px;
  height: 20px;
  background-position: -343px -390px;
}
.icon-mail-14 {
  width: 14px;
  height: 14px;
  background-position: -240px -176px;
}
.icon-mails {
  width: 14px;
  height: 14px;
  background-position: -240px -194px;
}
.icon-green-g {
  width: 49px;
  height: 49px;
  background-position: -2px -335px;
}
.icon-white-arrow {
  width: 8px;
  height: 8px;
  background-position: -1px -280px;
}
.icon-right-point {
  width: 10px;
  height: 10px;
  background-position: -314px -222px;
}
.icon-round-up {
  width: 20px;
  height: 20px;
  background-position: -310px -239px;
}
.icon-round-down {
  width: 20px;
  height: 20px;
  background-position: -310px -264px;
}
.icon-preImg,
.icon-preImg-disabled {
  width: 12px;
  height: 12px;
  background-position: -240px -214px;
}
.icon-preImg:hover {
  background-position: -240px -230px;
}
.icon-preImg.icon-preImg-disabled:hover {
  background-position: -240px -245px;
}
.icon-nextImg,
.icon-nextImg-disabled {
  width: 12px;
  height: 12px;
  background-position: -240px -245px;
}
.icon-nextImg:hover {
  background-position: -240px -260px;
}
.icon-nextImg.icon-nextImg-disabled:hover {
  background-position: -240px -245px;
}
.icon-arrowUp {
  width: 32px;
  height: 18px;
  background-position: -99px -356px;
}
.icon-arrowDown {
  width: 32px;
  height: 18px;
  background-position: -138px -356px;
}
.icon-white-downarrow {
  width: 9px;
  height: 5px;
  background-position: -243px -286px;
}
.icon-white-downarrow:hover {
  width: 9px;
  height: 5px;
  background-position: -243px -277px;
}
.icon-gray-line {
  width: 257px;
  height: 1px;
  background-position: -15px -434px;
}
.icon-my-account {
  width: 43px;
  height: 43px;
  background-position: 0px -387px;
}
.icon-my-account:hover {
  width: 43px;
  height: 43px;
  background-position: -243px -342px;
}
.icon-recharge-withdrawals {
  width: 43px;
  height: 43px;
  background-position: -48px -387px;
}
.icon-recharge-withdrawals:hover {
  width: 43px;
  height: 43px;
  background-position: -293px -342px;
}
.icon-new-message {
  width: 43px;
  height: 43px;
  background-position: -96px -387px;
}
.icon-new-message:hover {
  width: 43px;
  height: 43px;
  background-position: -344px -342px;
}
.icon-activi-gift {
  width: 43px;
  height: 43px;
  background-position: -144px -387px;
}
.icon-activi-gift:hover {
  width: 43px;
  height: 43px;
  background-position: -394px -342px;
}
.icon-chongzhi {
  width: 42px;
  height: 42px;
  background-position: -194px -389px;
}
.icon-tixian {
  width: 42px;
  height: 42px;
  background-position: -243px -389px;
}
.icon-aruobi {
  width: 42px;
  height: 42px;
  background-position: -293px -389px;
}
.icon-broow-want {
  width: 20px;
  height: 20px;
  background-position: -421px -138px;
}
.icon-broow-want:hover,
.icon-broow-want-focus {
  width: 20px;
  height: 20px;
  background-position: -421px -138px;
}
.icon-auto-want:hover,
.icon-auto-want-focus {
  width: 20px;
  height: 20px;
  background-position: -420px -224px;
}
.icon-auto-want {
  width: 20px;
  height: 20px;
  background-position: -420px -224px;
}
.icon-leftarrow-green {
  width: 8px;
  height: 15px;
  background-position: -243px -297px;
}
.icon-up-white {
  width: 12px;
  height: 6px;
  background-position: -243px -313px;
}
.icon-down-white {
  width: 12px;
  height: 6px;
  background-position: -243px -320px;
}
.icon-mall-more {
  width: 15px;
  height: 15px;
  background-position: -310px -291px;
}
.icon-mall-more:hover {
  width: 15px;
  height: 15px;
  background-position: -310px -313px;
}
.icon-mall-gdd {
  width: 12px;
  height: 6px;
  background-position: 0 -436px;
}
.icon-mall-gdd1 {
  width: 12px;
  height: 6px;
  background-position: 0 -444px;
}
.icon-sort-greendown {
  width: 9px;
  height: 8px;
  background-position: -255px -226px;
}
.icon-sort-greenup {
  width: 9px;
  height: 8px;
  background-position: -255px -214px;
}
.icon-sort-graydown {
  width: 9px;
  height: 8px;
  background-position: -255px -238px;
}
.icon-sort-grayup {
  width: 9px;
  height: 8px;
  background-position: -255px -250px;
}
.icon-car {
  width: 25px;
  height: 28px;
  background-position: -274px -439px;
}
.icon-eyes {
  width: 16px;
  height: 10px;
  background-position: -26px -464px;
}
.icon-eyes-hover,
.icon-eyes:hover {
  width: 18px;
  height: 8px;
  background-position: -64px -464px;
}
.icon-invest-warnning {
  width: 14px;
  height: 14px;
  background-position: -46px -464px;
}
.icon-red-minus {
  width: 15px;
  height: 15px;
  background-position: -245px -44px;
}
.icon-ratio-down {
  width: 11px;
  height: 7px;
  background-position: -253px -28px;
}
.icon-gray-grayleft {
  width: 5px;
  height: 9px;
  background-position: -255px -273px;
}
.icon-gray-graydown {
  width: 9px;
  height: 5px;
  background-position: -255px -263px;
}
.icon-white-question {
  width: 15px;
  height: 15px;
  background-position: -425px -267px;
}
.icon-white-tool {
  width: 18px;
  height: 18px;
  background-position: -422px -314px;
}
.icon-gray-tool {
  width: 18px;
  height: 18px;
  background-position: -422px -289px;
}
.icon-gray-tool-focus {
  width: 18px;
  height: 18px;
  background-position: -422px -314px;
}
.icon-gray-tool:hover {
  width: 18px;
  height: 18px;
  background-position: -422px -314px;
}
.icon-custom-service {
  width: 21px;
  height: 21px;
  background-position: -244px -64px;
}
.icon-phone1 {
  width: 9px;
  height: 14px;
  background-position: -344px -414px;
}
.icon-down-green {
  width: 7px;
  height: 5px;
  background-position: -358px -414px;
}
.icon-down-green-hover,
.icon-down-green.active,
.icon-down-green:hover {
  background-position: -358px -421px;
}
.icon-pointup-white {
  width: 13px;
  height: 10px;
  background-position: -387px -436px;
}
.icon-news {
  width: 28px;
  height: 13px;
  background-position: -29px -272px;
}
.icon-hots {
  width: 28px;
  height: 13px;
  background-position: -65px -272px;
}
.icon-hot-tag {
  width: 38px;
  height: 38px;
  background-position: -388px -395px;
}
.icon-money {
  width: 22px;
  height: 22px;
  background-position: -244px -89px;
}
.icon-iphone {
  width: 16px;
  height: 18px;
  background-position: -340px -433px;
}
.icon-android {
  width: 15px;
  height: 18px;
  background-position: -362px -433px;
}
.icon-arrow-right {
  width: 8px;
  height: 8px;
  background-position: -256px -285px;
}
.icon-user {
  width: 20px;
  height: 20px;
  background-position: -18px -438px;
}
.icon-lock-new {
  width: 16px;
  height: 20px;
  background-position: -45px -438px;
}
.icon-lock-new {
  width: 16px;
  height: 20px;
  background-position: -45px -438px;
}
.icon-point-right {
  width: 6px;
  height: 11px;
  background-position: -256px -297px;
}
.icon-point-down {
  width: 11px;
  height: 6px;
  background-position: -256px -314px;
}
.icon-inviter {
  width: 23px;
  height: 21px;
  background-position: -67px -438px;
}
.icon-err {
  width: 16px;
  height: 16px;
  background-position: -118px -438px;
}
.icon-right {
  width: 16px;
  height: 16px;
  background-position: -96px -438px;
}
.icon-money-pack {
  width: 22px;
  height: 26px;
  background-position: -157px -438px;
}
.icon-identify {
  width: 20px;
  height: 15px;
  background-position: -184px -438px;
}
.icon-blue-arrow {
  width: 23px;
  height: 11px;
  background-position: -227px -440px;
}
.icon-prev-page,
.icon-next-page {
  width: 5px;
  height: 9px;
  background-position: -257px -439px;
}
.icon-next-page {
  background-position: -264px -439px;
}
.icon-tag-car {
  width: 23px;
  height: 23px;
  background-position: -274px -439px;
}
.icon-new-msg {
  width: 11px;
  height: 11px;
  background-position: -426px -433px;
}
.icon-close-payback {
  width: 23px;
  height: 23px;
  background-position: -302px -439px;
}
.icon-check-ticket {
  width: 20px;
  height: 14px;
  background-position: -84px -464px;
}
.icon-red-arrow {
  width: 10px;
  height: 7px;
  background-position: -210px -441px;
}
.icon-more-r {
  width: 13px;
  height: 26px;
  background-position: -113px -464px;
}
