.w1000{ width: 1000px; margin: 0 auto;}
/* 法律合规保障 */
.safe_guarantee{background: #fff;width: 100%;height: 510px;border-top: 1px solid #f3f3f3;}

.safe-data .title,
.safe-ensure .title,
.safe-money .title,
.safe_guarantee .title{ padding-top: 70px;}

.safe-data .title em,
.safe-ensure .title em,
.safe-money .title em,
.safe_guarantee .title em{font-size: 36px; font-weight: bold;margin: 0 auto; display: block; background: #fff;position: relative; z-index: 2; width: 242px; text-align: center;}

.safe-data .title hr,
.safe-ensure .title hr,
.safe-money .title hr,
.safe_guarantee .title hr{ width: 373px; margin: -20px auto 0;border:1px solid #ddd;}

.safe-data .title small,
.safe-ensure .title small,
.safe-money .title small,
.safe_guarantee .title small { text-align: center; display: block; color: #ddd; font-size: 12px; margin-top: 20px;}
.safe_guarantee .contents a{ width: 40px;height: 40px; display: block; border-radius: 20px; background: #a4a4a4; color: #fff; text-align: center; line-height: 40px;font-weight: bold;font-size: 20px;
	transition:background 0.3s linear;
	-moz-transition:background 0.3s linear; /* Firefox 4 */
	-webkit-transition:background 0.3s linear; /* Safari and Chrome */
	-o-transition:background 0.3s linear; /* Opera */
	float: left;
	margin-top: 70px
}
.safe_guarantee a em{ background:url("../images/special_subject/arrow.png") no-repeat; display: block; width: 40px; height: 40px;}
.safe_guarantee a.btn-right em{ background-position: -40px 0;}
/* .safe_guarantee a:hover{ background: #000a15} */
.safe_guarantee .contents .content-safe{ width: 820px; height: 200px; margin: 0 50px;float: left;}
.safe_guarantee .contents .content-safe dl{ margin-top: 40px}
.safe_guarantee .contents .content-safe dl dt{ font-size: 18px; color: #333;line-height: 30px; margin-bottom: 10px}
.safe_guarantee .contents .content-safe dl dd{color:#666; font-size:14px; line-height: 30px}
  
/* 资金安全保障  */
.safe-data,.safe-money{ background: url("../images/special_subject/safe-money-bg.png"); width: 100%; height: 620px;}
.safe-data .title em,.safe-money .title em{background: url("../images/special_subject/safe-money-bg.png")}
.safe-money div.contents{ width: 820px; margin: 0 auto;}

.safe-money div.contents ul{width: 330px; float: left;margin-left: 22px;margin-top: 120px;
	transition:background 0.3s linear;
	-moz-transition:background 0.3s linear; /* Firefox 4 */
	-webkit-transition:background 0.3s linear; /* Safari and Chrome */
	-o-transition:background 0.3s linear; /* Opera */
}
.safe-money div.contents ul:hover{width: 330px; height: 370px; background: #fff; border-top: 2px solid #1eae58; float: left;margin-left: 22px; margin-top: 50px;}
.safe-money div.contents ul:hover .cir{background:#1eae58;}
.safe-money div.contents ul:hover .hide{ display: block;}

.safe-money div.contents ul.right-ul{ float: right; margin-right: 22px;}
.safe-money div.contents ul li{text-align: center; font-size: 12px; line-height: 24px; color: #999; padding: 0 25px}
.safe-money div.contents ul li div.cir{width: 120px; height: 120px; border-radius: 60px; background: #2e2e2e; margin: 20px auto; position: relative;}
.safe-money div.contents ul li em{font: 24px/1 'YouYuan','\5FAE\8F6F\96C5\9ED1'; color: #2e2e2e; display: block;}
.safe-money div.contents ul li small{font: 10px/24px Arial; margin-bottom: 8px; display: block;}
.safe-money div.contents ul li div.cir .ico-tg{ background: url('../images/special_subject/ico-tg.png') no-repeat; display: block; width: 45px;height: 39px; margin: 0 auto;position: relative; top:40px}
.safe-money div.contents ul li div.cir .ico-money{ background: url('../images/special_subject/ico-money.png') no-repeat; display: block; width: 40px;height: 46px; margin: 0 auto;position: relative; top:37px}
   	
/* 风控体系保障 */
.safe-ensure{background: #fff;width: 100%;height: 615px;border-top: 1px solid #f3f3f3;}
.safe-ensure .contents{ width: 960px; margin: 0 auto;}
.safe-ensure .contents h3{ text-align:center; color: #333; font-size: 18px; line-height: 30px; margin-top: 30px}
.safe-ensure .contents div.cir{ width: 120px; height: 120px; background: #2e2e2e; border-radius: 60px; position: relative; margin: 0 auto;}
.safe-ensure .contents .cirs{ width: 820px; margin:0 auto; margin-top: 80px;overflow: hidden;}
.safe-ensure .contents .cirs ul{ float: left; width: 160px; }
.safe-ensure .contents .cirs_2{ margin: 0 165px;}
.safe-ensure .contents .ico-ensure{width: 45px; height: 45px; margin:0 auto; display: block; background:url('../images/special_subject/ico-ensure.png') no-repeat; position: relative; top:37px; }
.safe-ensure .contents .ensure-1{ background-position: 0 0;}
.safe-ensure .contents .ensure-2{ background-position: -45px 0;}
.safe-ensure .contents .ensure-3{ background-position: -90px 0;}
.safe-ensure .contents ul li em{font: 24px/1 'YouYuan','\5FAE\8F6F\96C5\9ED1'; color: #2e2e2e; display: block; text-align: center; margin-top: 20px}
.safe-ensure .contents ul li small{font: 10px/24px Arial; margin-bottom: 8px; display: block;text-align: center; color: #999}
.safe-ensure .contents #select{ width: 175px; height: 45px; background: #2e2e2e; color: #fff; display: block; margin: 40px auto 0; text-align: center; font-size: 16px; line-height: 45px; border-radius: 45px; position: relative;text-indent: -1.5em;}
.safe-ensure .contents #select div{ position: absolute; right:5px; top:5px; width: 35px; height: 35px; background: #fff; border-radius: 20px;}
.safe-ensure .contents #select div i{background: url('../images/special_subject/ico-ensure.png') no-repeat; background-position: -135px 0; width: 12px; height: 20px; display: block; margin:8px 0 0 14px;}
.safe-ensure .contents #select:hover{
	background: #1eae58;
	transition:background 0.3s linear;
	-moz-transition:background 0.3s linear; /* Firefox 4 */
	-webkit-transition:background 0.3s linear; /* Safari and Chrome */
	-o-transition:background 0.3s linear; /* Opera */
}
.safe-ensure .contents #select:hover i{background: url('../images/special_subject/ico-ensure.png?v=1.1') no-repeat; background-position: -135px -80px; width: 12px; height: 20px; display: block; margin:8px 0 0 14px;}
.safe-ensure .contents div.cir:hover{background: url("../images/special_subject/cir_03.png?v=1.1") no-repeat;}
.safe-ensure .contents div.cir:hover .ico-ensure{
	background-position-y:-80px;
	transition:background 0.3s linear;
	-moz-transition:background 0.3s linear; /* Firefox 4 */
	-webkit-transition:background 0.3s linear; /* Safari and Chrome */
	-o-transition:background 0.3s linear; /* Opera */
} 	
/* 信息数据安全保障 */
.safe-data .title em{ width: 330px;}
.safe-data .title hr{ width: 460px;}
.safe-data .contnets{ position: relative;}
.safe-data .contnets .safe-data-ico{ background:url('../images/special_subject/safe-data.png') no-repeat; width: 820px; height: 375px; margin: 40px auto 0; }
.safe-data .contnets dl{ position: absolute;}
.safe-data .contnets dl dt{ font-size: 18px; color: #333;}
.safe-data .contnets dl dd{ color:#535353; font-size:12px; width: 270px; line-height: 24px; margin-top: 10px}
.safe-data .safe-network{top:0; left: 20px;}
.safe-data .ele-data-safe{top:190px; left: 20px;}
.safe-data .encryption{top:0; left: 720px;}
.safe-data .safe-data-bak{top:148px; left: 720px;}
.safe-data .internal-control-process{top:272px; left: 720px;}
    	
/* 用户隐私安全保障 */
.user-privacy{width: 100%; height: 620px; background: #fff}
.user-privacy .w1000{overflow: hidden; padding-top: 50px;}
.user-privacy .title hr{border:1px solid #eaeaea;margin-top: -2px;}
.user-privacy .title i.ico-num{background: url('../images/special_subject/ico-ensure.png') no-repeat; display: inline-block; float: left; margin-top: 12px; margin-right: 10px;}
.user-privacy .title i.num-01{width: 42px; height: 34px; background-position: 0 -45px;}
.user-privacy .title i.num-02{width: 48px; height: 34px; background-position: -45px -45px}
.user-privacy .title span{float: left;}
.user-privacy .title span em{ font-size: 20px; color: #2e2e2e; display: block;line-height: 25px; margin-top: 7px;}
.user-privacy .title span small{ color: #666; font-size: 12px;}
.user-privacy .title-left,.user-privacy .title-right{overflow: hidden;width: 290px; float: left; height: 62px; cursor: pointer;}
.user-privacy .title-left{margin-right: 211px;}
.user-privacy .active{border-bottom: 3px solid #000;}
.user-privacy .w960{min-height: 320px; width: 960px; margin: 40px auto 0;}
.user-privacy .w960 div.title-left-mx li{ font-size: 16px; line-height: 36px; color: #333}
.user-privacy .w960 div.title-left-mx div{ background:url('../images/special_subject/user-safe.png') no-repeat; width: 266px;height: 248px; float: left; margin-left: 50px;}
.user-privacy .w960 div.title-left-mx ul{ float: left; margin-left: 50px;}
.user-privacy .w960 div.title-left-mx li em{ font-size: 16px; line-height: 30px; color: #666}
.user-privacy .w960 ul.title-right-mx li{ font-size: 14px; line-height: 24px; color: #666}
.user-privacy .w960 ul.title-right-mx li em{ color: #333; font-weight: bold; display: inline-block;}
.user-privacy .w960 ul.title-right-mx li a{ color: #1eae58; font-weight: bold;}
.m-t-20{ margin-top: 20px;}
.m-t-80{ margin-top: 80px;}
