    <!--头部-->
    <layout name="Public/layout" />
    <!--banner-->
    <div class="product_banner">

    </div>
    <!--产品中心-->
    <div class="product">
        <!--导航-->
        <div class="product_nav">
            <i class="icon_house"></i>
            <a href="">首页</a>
            <i class="icon_leftarrow"></i>
            <a class="nav_lj" href="">投资理财</a>
        </div>
        <div class="product_column">
            <div class="product_cat">
                <ul>
                    <h2>产品类型：</h2>
                    <li class="cur">全部</li>
                    <li>优质产品</li>
                    <li>安全稳健</li>
                    <li>超高收益</li>
                </ul>
            </div>
            <div class="product_cat">
                <ul>
                    <h2>收益利率：</h2>
                    <li class="cur">全部</li>
                    <li>1%以下</li>
                    <li>1%~10%</li>
                    <li>10%以上</li>
                </ul>
            </div>

            <div class="product_cat">
                <ul>
                    <h2>项目期限：</h2>
                    <li class="cur">全部</li>
                    <li>1天</li>
                    <li>1~15天</li>
                    <li>15天以上</li>
                </ul>
            </div>
            <div class="product_xq">
                <ul>
                    <li>
                        <div class="product_nr">
                            <h1><a href="">深圳房地产新手试投</a></h1>
                            <div class="product_div1">
                                <p class="product_sy">1.28%</p>
                                <p>按日付收益,到期还本</p>
                            </div>
                            <div class="product_div product_div2" >
                                <p class="product_p">1天</p>
                                <p>项目期限</p>                        
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">3000000.00</p>
                                <p>项目总额</p>
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">100.00</p>
                                <p>起投金额</p>
                            </div>                        
                            <div class="product_div product_div3">
                                <p class="product_jdt"><em><i></i></em></p>
                                <p><span>投资进度：60.03%</span></p>
                            </div>
                            <div class="product_div product_div4">
                                <a class="product_buy" href="pro_details.html">立即投资</a>
                            </div>
                        </div>  
                    </li>
                     <li>
                        <div class="product_nr">
                            <h1><a href="">深圳房地产新手试投</a></h1>
                            <div class="product_div1">
                                <p class="product_sy">1.28%</p>
                                <p>按日付收益,到期还本</p>
                            </div>
                            <div class="product_div product_div2" >
                                <p class="product_p">1天</p>
                                <p>项目期限</p>                        
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">3000000.00</p>
                                <p>项目总额</p>
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">100.00</p>
                                <p>起投金额</p>
                            </div>                        
                            <div class="product_div product_div3">
                                <p class="product_jdt"><em><i></i></em></p>
                                <p><span>投资进度：60.03%</span></p>
                            </div>
                            <div class="product_div product_div4">
                                <a class="product_buy" href="pro_details.html">立即投资</a>
                            </div>
                        </div>  
                    </li>
                    <li>
                        <div class="product_nr">
                            <h1><a href="">深圳房地产新手试投</a></h1>
                            <div class="product_div1">
                                <p class="product_sy">1.28%</p>
                                <p>按日付收益,到期还本</p>
                            </div>
                            <div class="product_div product_div2" >
                                <p class="product_p">1天</p>
                                <p>项目期限</p>                        
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">3000000.00</p>
                                <p>项目总额</p>
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">100.00</p>
                                <p>起投金额</p>
                            </div>                        
                            <div class="product_div product_div3">
                                <p class="product_jdt"><em><i></i></em></p>
                                <p><span>投资进度：60.03%</span></p>
                            </div>
                            <div class="product_div product_div4">
                                <a class="product_buy" href="pro_details.html">立即投资</a>
                            </div>
                        </div>  
                    </li>
                    <li>
                        <div class="product_nr">
                            <h1><a href="">深圳房地产新手试投</a></h1>
                            <div class="product_div1">
                                <p class="product_sy">1.28%</p>
                                <p>按日付收益,到期还本</p>
                            </div>
                            <div class="product_div product_div2" >
                                <p class="product_p">1天</p>
                                <p>项目期限</p>                        
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">3000000.00</p>
                                <p>项目总额</p>
                            </div>
                            <div class="product_div product_div2">
                                <p class="product_p">100.00</p>
                                <p>起投金额</p>
                            </div>                        
                            <div class="product_div product_div3">
                                <p class="product_jdt"><em><i></i></em></p>
                                <p><span>投资进度：60.03%</span></p>
                            </div>
                            <div class="product_div product_div4">
                                <a class="product_buy" href="pro_details.html">立即投资</a>
                            </div>
                        </div>  
                    </li>                                                
                </ul>
                <div style="width:300px;margin:0 auto;text-align:center;padding:20px 0;">
                    <a style=" border:1px solid #ccc;width:20px;height:20px;display:inline-block;" href="">1</a>
                    <a style="border:1px solid #ccc;width:20px;height:20px;display:inline-block;" href="">2</a>
                    <a style="border:1px solid #ccc;width:20px;height:20px;display:inline-block;" href="">3</a>
                    <a style="border:1px solid #ccc;width:50px;height:20px;display:inline-block;" href="">下一页</a>
                </div>
            </div>
        </div>

    </div>
