.darkblue {
  color: #3c5397;
}
.red {
  color: #ff1705;
}
body {
  background: #f9f9f9;
}
.avt-msg {
  width: 1000px;
  height: 68px;
  margin: 20px auto;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat #ffffff;
  position: relative;
}
.avt-msg-title {
  font-size: 22px;
  color: #ff1705;
  font-weight: bold;
  line-height: 68px;
  margin-left: 88px;
}
.avt-msg-banner {
  width: 835px;
  height: 52px;
  position: absolute;
  left: 162px;
  top: 7px;
  overflow: hidden;
}
.avt-banner-list {
  position: absolute;
  left: 0;
  top: 0;
}
.avt-banner-list li {
  width: 835px;
  height: 52px;
  line-height: 52px;
  color: #333333;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quick-buy-box {
  width: 1000px;
  height: 537px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.left-buy-box {
  width: 326px;
  height: 100%;
  float: left;
}
.quick-buy-banner {
  width: 320px;
  height: 206px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ffee34;
  position: relative;
  z-index: 10;
}
.quick-buy-banner .banner-bg {
  display: block;
  width: 280px;
  height: 92px;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat -11px -89px;
  top: 43px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
}
.quick-buy-banner .quick-buy-get {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  background: #f25686;
  z-index: 10;
  top: 155px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  margin-left: -40px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.quick-buy-banner .quick-buy-get:hover {
  background: #3c5397;
}
.quick-buy-banner .quick-buy-get:hover .quick-buy-rule {
  width: 680px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.quick-buy-rule {
  width: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 80px;
  top: -29px;
  overflow: hidden;
  cursor: default;
  transition: all 0.3s 0s ease-in-out;
  -webkit-transition: all 0.3s 0s ease-in-out;
}
.rule-point-left {
  display: block;
  width: 18px;
  height: 24px;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat -100px -196px;
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 2;
}
.rule-content {
  width: 600px;
  background: #ffffff;
  border: 1px solid #bbc3db;
  line-height: 30px;
  border-radius: 6px;
  color: #3c5397;
  font-size: 16px;
  text-align: left;
  box-sizing: content-box;
  padding: 15px 30px;
  position: relative;
  left: 17px;
  top: 0;
  *left: 8px;
  z-index: 1;
}
.rule-content span {
  display: block;
  margin-left: 28px;
}
.rule-content em {
  position: relative;
  margin-left: -28px;
}
.avt-tab-box {
  width: 320px;
  height: 332px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat -319px -89px;
}
.avt-tab-list {
  width: 100%;
  float: left;
}
.avt-tab-list li {
  height: 87px;
  margin-bottom: 1px;
  *margin-bottom: 16px;
  text-align: right;
  padding-right: 65px;
  color: #3c5397;
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
  box-sizing: content-box;
  position: relative;
}
.avt-tab-list li.active {
  color: #ffffff;
}
.avt-tab-list li.active strong {
  font-weight: normal;
}
.avt-tab-list li.active .tab-shadow {
  opacity: 1;
  filter: alpha(opacity=100);
}
.avt-tab-list li.disabled div {
  cursor: default;
}
.avt-tab-list div {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.avt-tab-list strong {
  font-weight: bold;
  display: block;
  margin-top: 22px;
}
.avt-tab-list .countdown {
  font-weight: normal;
  font-size: 20px;
}
.avt-tab-list .countdown-tag {
  font-size: 28px;
}
.avt-tab-list .tab-shadow {
  display: block;
  width: 339px;
  height: 124px;
  background-image: url(../../images/mall/quick_buy_pics.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -10px;
  top: -22px;
  *top: 0;
  z-index: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tab-fst .tab-shadow,
.tab-snd .tab-shadow {
  background-position: -662px -89px;
}
.tab-thd .tab-shadow {
  background-position: -662px -256px;
  top: -33px;
  *top: -11px;
}
.quick-buy-list {
  width: 666px;
  height: 536px;
  float: right;
  overflow: hidden;
}
.quick-buy-list.loading {
  background: url(../../images/loading.gif) no-repeat center;
}
.quick-goods {
  width: 326px;
  height: 260px;
  float: left;
  text-align: center;
  margin-left: 6px;
  margin-bottom: 14px;
  background: #ffffff;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.quick-goods.disabled .goods-shadow-box {
  display: block;
}
.quick-goods img {
  width: 230px;
  height: 190px;
}
.quick-goods .quick-goods-name {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #333333;
  position: absolute;
  left: 0;
  bottom: 48px;
}
.quick-goods .quick-goods-bottom {
  position: absolute;
  width: 100%;
  height: 48px;
  line-height: 48px;
  left: 0;
  bottom: 0;
}
.quick-goods .qucik-goods-price {
  font-size: 16px;
  color: #ff1705;
  float: left;
  margin-left: 20px;
}
.quick-goods .quick-goods-btn {
  display: block;
  width: 96px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background: #f25686;
  border-radius: 4px;
  position: absolute;
  right: 24px;
  top: 9px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.quick-goods .quick-goods-btn.disabled {
  background: #b1b1b1;
  cursor: default;
}
.quick-goods .quick-goods-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.quick-goods-num {
  display: block;
  width: 73px;
  height: 32px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 28px;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat 0 -196px;
  position: absolute;
  right: -3px;
  top: 11px;
}
.goods-shadow-box {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  left: 0;
  top: 0;
  z-index: 3;
}
.goods-shadow {
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
}
.goods-shadow em {
  position: relative;
  top: 110px;
}
.goods-shadow .countdown-prefix {
  position: absolute;
  left: 150px;
  top: 95px;
}
.goods-shadow .countdown-time {
  position: absolute;
  left: 150px;
  top: 123px;
  font-size: 34px;
  color: #ffffff;
}
@keyframes shake {
  0% {
    transform: translate(0, 3px) rotateZ(-1deg);
  }
  25% {
    transform: translate(0, 0) rotateZ(0deg);
  }
  35% {
    transform: translate(0, 2px) rotateZ(1deg);
  }
  42% {
    transform: translate(0, 0) rotateZ(0deg);
  }
  46% {
    transform: translate(0, 1px) rotateZ(-1deg);
  }
  48% {
    transform: translate(0, 0) rotateZ(0deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0, 3px) rotateZ(-1deg);
  }
  25% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
  }
  35% {
    -webkit-transform: translate(0, 2px) rotateZ(1deg);
  }
  42% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
  }
  46% {
    -webkit-transform: translate(0, 1px) rotateZ(-1deg);
  }
  48% {
    -webkit-transform: translate(0, 0) rotateZ(0deg);
  }
}
.countdown-clock {
  display: block;
  width: 62px;
  height: 66px;
  background: url(../../images/mall/quick_buy_pics.png) no-repeat -150px -191px;
  position: absolute;
  left: 70px;
  top: 96px;
  animation: shake 1s 0s ease-in-out infinite alternate;
  -webkit-animation: shake 1s 0s ease-in-out infinite alternate;
}
.snd-title {
  font-size: 18px;
  color: #ff1705;
}
