<layout name="Public/layout" />
<!-- banner start -->
<div class="banner-box">
    <!-- 轮播图 start -->
    <div class="banner-content banner-widget">
        <ul class="banner-list">
            <li class="active"><a target="_blank" href="https://www.xiaozhu168.com/toAnniversaryActive" _src="https://www.xiaozhu168.com/upload/images/banner/PC%20%20btu%201920x400.png"></a>
            </li>
            <li><a target="_blank" href="https://www.xiaozhu168.com/getInvitation_old_friends " _src="https://www.xiaozhu168.com/upload/images/banner/pc%20%20%201920-400.jpg"></a>
            </li>
            <li><a target="_blank" href="https://www.xiaozhu168.com/register288.html" _src="https://www.xiaozhu168.com/upload/images/banner/pc%201920-400.jpg"></a>
            </li>
            <li><a target="_blank" href="http://www.xiaozhu168.com/news_conference.jsp" _src="http://www.xiaozhu168.com/upload/images/pcB1920x400.jpg"></a>
            </li>
            <li><a target="_blank" href="http://www.xiaozhu168.com/special/bank_custody.jsp" _src="http://www.xiaozhu168.com/upload/images/meitibaodao/1920x400.jpg"></a>
            </li>
            <li><a target="_blank" href="http://www.xiaozhu168.com/news/details-371.html" _src="http://www.xiaozhu168.com/upload/images/banner/1920x400.jpg"></a>
            </li>
        </ul>
    </div>
    <!-- 轮播图 end -->

    <!-- 用户信息 start -->
    <div class="banner-tag-box">
        <!-- 已登录 start -->
        <!-- 已登录 end -->

        <!-- 未登录 start -->
        <div class="banner-tag visitor-banner-tag">
            <ul class="clearfix">
                <li class="float-l"  style="display: none;">
                    已有<strong>148,289</strong>投资者选择
                </li>
                <li class="float-r">
                    <a href="http://www.xiaozhu168.com/guide.html" target="_blank" rel="nofollow" class="guide-new">新手引导</a>
                </li>
            </ul>
            <div class="topest-profit">
                <strong>12.2<sub>%</sub></strong><br />
                预期年化收益率
            </div>
            <a href="http://www.xiaozhu168.com/reg.html" class="red-link-btn" target="_blank">
                <i class="icon-money"></i>
                领取288元新人大礼包
            </a>
            <a href="javascript:loginWin();" class="login-now">
                立即登录
            </a>
        </div>
        <!-- 未登录 end -->
    </div>
    <!-- 用户信息 end -->
</div>
<!-- banner end -->

<!-- 平台数据 start -->
<div class="web-data">
    <div class="data-content">
        <ul class="data-list">
            <li>
                累计投资金额
                <span class="increment">
                <em class="red">15</em>亿
                    <em class="red">4956</em>万
                    <em class="red">3629</em>元
                </span>
            </li>
            <li>
                为投资人赚取收益
                <span class="increment">
                <em class="red">5224</em>万
                    <em class="red">0767</em>元
                </span>
            </li>
            <li class="last-li">
                注册人数
                <span style="width: 138px; visibility: visible;">
                    <em class="red">148,289</em>人
                </span>
            </li>
        </ul>
    </div>
</div>
<!-- 平台数据 end -->

<!-- 安全保障 start -->
<div class="safe-ensure">

    <div class="safe-ensure-content">
        <ul class="safe-ensure-list">
            <li>
                <em class="bank-ensure em-mask"></em>
                <em class="bank-ensure-hover"></em>
                <p>
                    <strong>融资背景</strong>
                    小猪罐子获A轮融资，光谷创投战略入股
                </p>
            </li>
            <li>
                <em class="sunshine-ensure em-mask"></em>
                <em class="sunshine-ensure-hover"></em>
                <p>
                    <strong>资金托管</strong>
                    与徽商银行签订战略合作协议，资金由汇付天下托管
                </p>
            </li>
            <li>
                <em class="msg-ensure em-mask"></em>
                <em class="msg-ensure-hover"></em>
                <p>
                    <strong>资产多样</strong>
                    引入达飞金控、恒胜车贷等资产
                </p>
            </li>

            <li class="last-li">
                <em class="risk-ensure em-mask"></em>
                <em class="risk-ensure-hover"></em>
                <p>
                    <strong>风控体系</strong>
                    专业的风控体系，三大原则、8大审核流程、36道严格工序
                </p>
            </li>
        </ul>

        <!-- 扫描下载 app start -->
        <div class="app-download">
            <em class="app-download-qrcode"></em>
            <p>
                <strong>扫描
                    <span class="red">左侧二维码</span>
                </strong><br />
                下载小猪罐子APP<br />
                <i class="icon-iphone"></i><em class="bold">IOS</em>
                <i class="icon-android"></i><em class="bold"> Android</em>
                <a href="http://www.xiaozhu168.com/download.html" target="_blank" class="more-about-app">
                    了解详情
                    <i class="icon-arrow-right"></i>
                </a>
            </p>
        </div>
        <!-- 扫描下载 app end -->
    </div>

</div>
<!-- 安全保障 end -->

<!-- 标列表 start -->
<div class="tag-box">

    <!-- 新手团专享 start -->
    <div class="new-tag-list" >
        <div class="tag-info">
            <h3>
                新手专享
                <small>封闭期短 收益率高</small>
            </h3>
        </div>
        <div class="invest-tag">
            <p>
                <i class="tag-flag-all">团</i>
                <a href="http://www.xiaozhu168.com/pooldetail-details-3.html" target="_blank">新手团</a>
                <em class="tag-flag tag-flag-green">100元起投</em>
                <em class="tag-flag tag-flag-green">限投10000元</em>
            </p>
            <ul class="clearfix">
                <li class="tag-profit">
                    <strong>
                        10.00<sub>%</sub><sub style="font-size: 18px;">+8.15%</sub>
                    </strong><br />
                    预期年化收益
                </li>
                <li class="tag-date-limit">
	                    <span class="red" style="display: inline-block;text-align: right;width: 100%;">
	                        30<em>天封闭期</em>
	                    </span>
                    <br />
                    封闭期后将自动退团
                </li>
            </ul>
            <div class="invest-tag-bottom" style="margin-top: 18px;">
                <!-- 累计入团 start -->
                <div class="tag-progress" style="font-size:14px; line-height: 34px; color: #999;">
                    累计入团：2,344人次
                </div>
                <!-- 累计入团 end -->
                <a href="javascript:void(0);" class="invest-btn disabled">已售罄</a>
            </div>
        </div>
        <!-- 活动区域 start -->
        <div class="avt-list-box">

            <!-- 活动banner start -->
            <div class="avt-banner banner-widget">
                <ul class="banner-list">
                    <li class="active">
                        <a target="_blank" href="https://www.xiaozhu168.com/getInvitation_old_friends " _src="https://www.xiaozhu168.com/upload/images/430-125.png"></a>
                    </li>
                </ul>
            </div>
            <!-- 活动banner end -->
            <a href="https://www.xiaozhu168.com/register288.html" target="_blank" class="newest-avt">
                <img src="https://www.xiaozhu168.com/upload/images/430-125%EF%BC%88288%EF%BC%89.png" />
            </a>
        </div>
        <!-- 活动区域 end -->
    </div>
    <!-- 新手团专享 end -->

    <!-- 团标资产 start -->
    <div class="tuan-tag-list">
        <div class="tag-info">
            <h3>
                <a href="http://www.xiaozhu168.com/pool-12-0-0-0-0-1-1.html" target="_blank">团标资产<i class="icon-more-r"></i></a>
                <small>投资便捷 灵活退团</small>
            </h3>
        </div>

        <div class="invest-tag invest-tag-left mr2">
            <p>
                <i class="tag-flag-all">团</i>
                <a href="http://www.xiaozhu168.com/pooldetail-details-1.html" target="_blank">双月盈</a>
                <em class="tag-flag tag-flag-green">100元起投</em>
            </p>
            <ul class="clearfix">
                <li class="tag-profit">
                    <strong>
                        9.20<sub>%</sub>
                        <em class="vip-profit">

                            +VIP
                        </em>
                    </strong><br />
                    预期年化收益
                </li>
                <li class="tag-date-limit">
		                    <span class="red" style="display: inline-block;text-align: right;width: 100%;">
		                        60<em>天封闭期</em>
		                    </span>
                    <br />
                    封闭期后可灵活退团
                </li>
            </ul>
            <div class="invest-tag-bottom" style="margin-top: 18px;">
                <!-- 累计入团 start -->
                <div class="tag-progress" style="font-size:14px; line-height: 34px; color: #999;">
                    累计入团：2,479人次
                </div>
                <!-- 累计入团 end -->
                <a href="http://www.xiaozhu168.com/pooldetail-details-1.html" target="_blank" class="invest-btn">立即投标</a>
            </div>
        </div>
        <div class="invest-tag">
            <p>
                <i class="tag-flag-all">团</i>
                <a href="http://www.xiaozhu168.com/pooldetail-details-2.html" target="_blank">四月盈</a>
                <em class="tag-flag tag-flag-green">100元起投</em>
            </p>
            <ul class="clearfix">
                <li class="tag-profit">
                    <strong>
                        10.20<sub>%</sub>
                        <em class="vip-profit">

                            +VIP
                        </em>
                    </strong><br />
                    预期年化收益
                </li>
                <li class="tag-date-limit">
		                    <span class="red" style="display: inline-block;text-align: right;width: 100%;">
		                        120<em>天封闭期</em>
		                    </span>
                    <br />
                    封闭期后可灵活退团
                </li>
            </ul>
            <div class="invest-tag-bottom" style="margin-top: 18px;">
                <!-- 累计入团 start -->
                <div class="tag-progress" style="font-size:14px; line-height: 34px; color: #999;">
                    累计入团：379人次
                </div>
                <!-- 累计入团 end -->
                <a href="javascript:void(0);" class="invest-btn disabled">已售罄</a>
            </div>
        </div>
    </div>
    <!-- 团标资产 end -->

    <!-- 热门推荐 start -->
    <!-- 热门推荐 end -->

    <!-- 个人融资标 start -->
    <!-- 个人融资标暂不开放,by-----Mr.Lu -->
    <!-- 个人融资标 end -->

    <!-- 理财专区 start -->
    <div class="all-tag-list">
        <div class="tag-info">
            <h3>
                <a href="http://www.xiaozhu168.com/invest-3-0-0-0-0-1-1.html" target="_blank">机构资产<i class="icon-more-r"></i></a>
                <small>多种期限 投资灵活</small>
            </h3>

            <ul class="hotest-tag-tab">
                <li tagType="3" class="active">优质标<em>0</em>
                </li>
                <li tagType="6" >普惠类<em>0</em>
                </li>
                <li tagType="4" >房产类<em>0</em>
                </li>
                <li tagType="5" >车辆类<em>0</em>
                </li>
                <li tagType="7" >渠道区<em>0</em>
                </li>
            </ul>
        </div>

        <div class="all-tag-content">
            <em class="border-h"></em>
            <em class="border-v"></em>

            <div class="invest-tag invest-tag-left">
                <p>
                    <i class="tag-flag-all">优</i>
                    <a href="http://www.xiaozhu168.com/pro-details-12724.html" target="_blank">Q170802-2043<2期></a>
                    <em class="tag-flag tag-flag-green">可转</em>
                </p>
                <!-- 爽一发 -->
                <ul class="clearfix">
                    <li class="tag-profit">
                        <strong>
                            11.80<sub>+2.20%</sub>
                            <em class="vip-profit">
                                +VIP</em>
                        </strong><br />
                        预期年化收益

                    </li>
                    <li class="tag-date-limit">
                        期限
                        <span class="red">
			                 9<em>个月</em>
			             </span>
                    </li>
                </ul>

                <div class="invest-tag-bottom">
                    <!-- 进度条 start -->
                    <div class="tag-progress">
                        <div class="tag-progress-bar" progress="100.00%">
                            <!-- 爽一发 -->
                            <em class="tag-progress-finished"></em>
                        </div>
                        <span>100.00%</span>
                    </div>
                    <!-- 进度条 end -->
                    <!-- 爽一发 -->

                    <a href="javascript:;" class="invest-btn disabled">收益中</a>
                </div>
            </div>
            <div class="invest-tag">
                <p>
                    <i class="tag-flag-all">优</i>
                    <a href="http://www.xiaozhu168.com/pro-details-12736.html" target="_blank">Q170803-3002<3期></a>
                    <em class="tag-flag tag-flag-green">可转</em>
                </p>
                <!-- 爽一发 -->
                <ul class="clearfix">
                    <li class="tag-profit">
                        <strong>
                            12.20<sub>+2.60%</sub>
                            <em class="vip-profit">
                                +VIP</em>
                        </strong><br />
                        预期年化收益

                    </li>
                    <li class="tag-date-limit">
                        期限
                        <span class="red">
			                 12<em>个月</em>
			             </span>
                    </li>
                </ul>

                <div class="invest-tag-bottom">
                    <!-- 进度条 start -->
                    <div class="tag-progress">
                        <div class="tag-progress-bar" progress="100.00%">
                            <!-- 爽一发 -->
                            <em class="tag-progress-finished"></em>
                        </div>
                        <span>100.00%</span>
                    </div>
                    <!-- 进度条 end -->
                    <!-- 爽一发 -->

                    <a href="javascript:;" class="invest-btn disabled">收益中</a>
                </div>
            </div>
            <div class="invest-tag invest-tag-left">
                <p>
                    <i class="tag-flag-all">优</i>
                    <a href="http://www.xiaozhu168.com/pro-details-12677.html" target="_blank">Q170725-2041<1期></a>
                    <em class="tag-flag tag-flag-green">可转</em>
                </p>
                <!-- 爽一发 -->
                <ul class="clearfix">
                    <li class="tag-profit">
                        <strong>
                            11.40<sub>+1.80%</sub>
                            <em class="vip-profit">
                                +VIP</em>
                        </strong><br />
                        预期年化收益

                    </li>
                    <li class="tag-date-limit">
                        期限
                        <span class="red">
			                 6<em>个月</em>
			             </span>
                    </li>
                </ul>

                <div class="invest-tag-bottom">
                    <!-- 进度条 start -->
                    <div class="tag-progress">
                        <div class="tag-progress-bar" progress="100.00%">
                            <!-- 爽一发 -->
                            <em class="tag-progress-finished"></em>
                        </div>
                        <span>100.00%</span>
                    </div>
                    <!-- 进度条 end -->
                    <!-- 爽一发 -->

                    <a href="javascript:;" class="invest-btn disabled">收益中</a>
                </div>
            </div>
            <div class="invest-tag">
                <p>
                    <i class="tag-flag-all">优</i>
                    <a href="http://www.xiaozhu168.com/pro-details-12732.html" target="_blank">Q170803-8030<3期></a>
                    <em class="tag-flag tag-flag-green">可转</em>
                </p>
                <!-- 爽一发 -->
                <ul class="clearfix">
                    <li class="tag-profit">
                        <strong>
                            11.40<sub>+1.80%</sub>
                            <em class="vip-profit">
                                +VIP</em>
                        </strong><br />
                        预期年化收益

                    </li>
                    <li class="tag-date-limit">
                        期限
                        <span class="red">
			                 6<em>个月</em>
			             </span>
                    </li>
                </ul>

                <div class="invest-tag-bottom">
                    <!-- 进度条 start -->
                    <div class="tag-progress">
                        <div class="tag-progress-bar" progress="100.00%">
                            <!-- 爽一发 -->
                            <em class="tag-progress-finished"></em>
                        </div>
                        <span>100.00%</span>
                    </div>
                    <!-- 进度条 end -->
                    <!-- 爽一发 -->

                    <a href="javascript:;" class="invest-btn disabled">收益中</a>
                </div>
            </div>
            <div class="more-product">
                <p>温馨提示：优质标每天<em>10:30、14:30、17:30</em>发售<a href="http://www.xiaozhu168.com/invest-3-0-0-0-0-1-1.html" class="float-r" style="margin-right: 35px;" target="_blank">更多理财产品&gt;&gt;</a></p>
            </div>
        </div>

    </div>
    <!-- 理财专区 end -->

    <!-- 债权转让 start -->
    <div class="hotest-tag-list tag-list-transfer">
        <div class="tag-info">
            <h3>
                <a href="http://www.xiaozhu168.com/invest-11-0-0-0-0-1-1.html" target="_blank">债权转让<i class="icon-more-r"></i></a>
                <small>期限灵活 收益稳健</small>
            </h3>
        </div>

        <div class="invest-tag invest-tag-left">
            <p>
                <i class="tag-flag-all">转</i>
                <a href="http://www.xiaozhu168.com/credit-details-289.html" target="_blank" title="G164057<4期>-20170109001">G164057<4期>-20170109...</a>
                <!-- <em class="tag-flag tag-flag-green">短期灵活 稳定收益</em> -->
            </p>
            <ul class="clearfix">
                <li class="tag-profit">
                    <strong>
                        14.00<sub>%</sub>
                    </strong><br />
                    预期年化收益
                </li>
                <li class="tag-date-limit">
                    期限
                    <span class="red">
                        9<em>个月</em>29<em>天</em></span>
                </li>
            </ul>
            <div class="invest-tag-bottom">
                <!-- 进度条 start -->
                <div class="tag-progress">
                    <div class="tag-progress-bar" progress="100%">
                        <em class="tag-progress-finished"></em>
                    </div>
                    <span>100%</span>
                </div>
                <!-- 进度条 end -->

                <a href="javascript:;" class="invest-btn disabled">收益中</a>
            </div>
        </div>
        <div class="invest-tag">
            <p>
                <i class="tag-flag-all">转</i>
                <a href="http://www.xiaozhu168.com/credit-details-293.html" target="_blank" title="G164063<4期>-20170110004">G164063<4期>-20170110...</a>
                <!-- <em class="tag-flag tag-flag-green">短期灵活 稳定收益</em> -->
            </p>
            <ul class="clearfix">
                <li class="tag-profit">
                    <strong>
                        16.00<sub>%</sub>
                    </strong><br />
                    预期年化收益
                </li>
                <li class="tag-date-limit">
                    期限
                    <span class="red">
                        9<em>个月</em>30<em>天</em></span>
                </li>
            </ul>
            <div class="invest-tag-bottom">
                <!-- 进度条 start -->
                <div class="tag-progress">
                    <div class="tag-progress-bar" progress="100%">
                        <em class="tag-progress-finished"></em>
                    </div>
                    <span>100%</span>
                </div>
                <!-- 进度条 end -->

                <a href="javascript:;" class="invest-btn disabled">收益中</a>
            </div>
        </div>
        <div class="more-product">
            <a href="http://www.xiaozhu168.com/invest-11-0-0-0-0-1-1.html" target="_blank">更多理财产品&gt;&gt;</a>
        </div>
    </div>
</div>
<!-- 标列表 end -->


<!--新闻-->
<div class="index_news mt20">
    <!--媒体报道行业新闻-->
    <div class="index_media ml35 mt10">
        <ul class="index_media_ul index_media_me">
            <li class="index_media_li active">媒体报道<!-- <em>|</em> --></li>
            <!-- <li class="index_media_li2"></li> -->
            <!-- <li class="index_media_li" style="margin-left:23px;">行业新闻</li> -->
            <li class="index_media_li1"><a href="http://www.xiaozhu168.com/mediareport-1.html" target="_blank">更多+</a></li>
        </ul>
        <div class="index_media_con">
            <div class="index_media_tab">
            	<span class="index_media_span mt20">
                    <a href="http://www.xiaozhu168.com/media/details-203.html" target="_blank"><img src="https://www.xiaozhu168.com/upload/images/banner/meiti.jpg"/></a>
                    <em><a href="http://www.xiaozhu168.com/media/details-203.html" target="_blank">重磅！小猪罐子携手融关律所 正式开启备案...</a></em>
                </span>
                <span class="index_media_span mt20">
                    <a href="http://www.xiaozhu168.com/media/details-202.html" target="_blank"><img src="https://www.xiaozhu168.com/upload/images/meitibaodao/1(1).jpg"/></a>
                    <em><a href="http://www.xiaozhu168.com/media/details-202.html" target="_blank">小猪罐子现身中国财富管理生态大会 共同探...</a></em>
                </span>
                <ul class="index_media_ul1">
                    <li class="index_media_li7"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/media/details-201.html" target="_blank" class="index_media_a">【财经中国网】对话金融科技资深专家 迎接ICO时代浪潮</a>
                        <label>2017-07-28</label>
                    </li>
                    <li class="index_media_li7"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/media/details-200.html" target="_blank" class="index_media_a">【新浪网】扎心｜账户里静静躺着的存款 并不能给你带来幸福</a>
                        <label>2017-07-25</label>
                    </li>
                    <li class="index_media_li7"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/media/details-199.html" target="_blank" class="index_media_a">【搜狐财经】网贷行业新政全面解读沙龙会 小猪罐子受邀出席</a>
                        <label>2017-07-21</label>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--媒体报道行业新闻结束-->

    <!--最新公告公司动态-->
    <div class="index_media index_media1 ml35 mt10">
        <ul class="index_media_ul index_media_ul2">
            <li class="index_media_li active">最新公告<!-- <em>|</em> --></li>
            <!-- <li class="index_media_li2">|</li> -->
            <!-- <li class="index_media_li" style="margin-left:23px;">公司动态</li> -->
            <li class="index_media_li1 index_media_li3"><a href="http://www.xiaozhu168.com/webnotice-0-1.html" target="_blank">更多+</a></li>
        </ul>
        <div class="index_media_con1">
            <div class="index_media_tab index_media_tab1 ">
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-414.html" target="_blank" class="index_media_a index_media_a1">【三周年庆活动】第二弹•超强加息，重磅上线公告</a>
                        <i class="icon-news"></i>
                    </li>
                    <li class="index_media_li5"><label>2017-08-04</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-412.html" target="_blank" class="index_media_a index_media_a1">【三周年庆活动】第一弹•与礼同行公告</a>
                        <i class="icon-hots"></i>
                    </li>
                    <li class="index_media_li5"><label>2017-08-01</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-413.html" target="_blank" class="index_media_a index_media_a1">【活动】老友帮人脉大比拼和288元新手礼包上线公告</a>
                        <i class="icon-hots"></i>
                    </li>
                    <li class="index_media_li5"><label>2017-08-01</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-411.html" target="_blank" class="index_media_a index_media_a1">【盛夏福利】玩游戏 赢现金大礼</a>
                        <i class="icon-hots"></i>
                    </li>
                    <li class="index_media_li5"><label>2017-07-31</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-410.html" target="_blank" class="index_media_a index_media_a1">邀请有礼活动结束公告</a>
                    </li>
                    <li class="index_media_li5"><label>2017-07-28</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-409.html" target="_blank" class="index_media_a index_media_a1">【活动】三周年预热加息活动公告</a>
                    </li>
                    <li class="index_media_li5"><label>2017-07-12</label></li>
                </ul>
                <ul class="index_media_ul1 index_media_ul3">
                    <li class="index_media_li4"><i class="index_media_gt">&gt;</i>
                        <a href="http://www.xiaozhu168.com/news/details-408.html" target="_blank" class="index_media_a index_media_a1">关于汇付天下交易系统已恢复公告</a>
                    </li>
                    <li class="index_media_li5"><label>2017-07-10</label></li>
                </ul>
            </div>

        </div>
    </div>
    <!--最新公告公司动态结束-->
</div>
<!--新闻结束-->

<!--合作伙伴-->
<div class="index_news mt20 index_news1">
    <ul class="index_media_ul index_media_ul4 ml35">
        <li class="index_media_li active">合作伙伴</li>
    </ul>
    <ul class="index_pernter_logo ml25 mt10">
        <li><a href="http://www.xiaozhu168.com/special/bank_custody.jsp" class="partner1" alt="徽商银行" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/LOGO1.jpg" title="徽商银行" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/news/details-368.html" class="partner1" alt="盈科律师事务所" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/lvshishiwu1.jpg" title="盈科律师事务所" />
        </a>
        </li>
        <li><a href="http://www.chinapnr.com/" class="partner1" alt="汇付天下" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/partner1-hover.png" title="汇付天下" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/news/details-371.html" class="partner1" alt="e签宝" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/eqianbao%20-1.jpg" title="e签宝" />
        </a>
        </li>
        <li><a href="http://www.wdzj.com/" class="partner1" alt="网贷之家" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/zhijia.jpg" title="网贷之家" />
        </a>
        </li>
        <li><a href="http://www.p2peye.com/" class="partner1" alt="网贷天眼" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/tianyan.jpg" title="网贷天眼" />
        </a>
        </li>
        <li><a href="http://www.gifa.com.cn/" class="partner1" alt="广东互联网金融协会" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/hulianwng.jpg" title="广东互联网金融协会" />
        </a>
        </li>
        <li><a href="http://www.lianlianpay.com/" class="partner1" alt="连连支付" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/partner9_a.jpg" title="连连支付" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/electronicSecurity.html" class="partner1" alt="电子保全中心" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/partner8_a.jpg" title="电子保全中心" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/news/details-257.html" class="partner1" alt="达飞" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/dafei.jpg" title="达飞" />
        </a>
        </li>
        <li><a href="https://www.xiaozhu168.com/footerInfo/partner_wanbang.jsp" class="partner1" alt="万邦" target="_blank" rel="nofollow">
            <img src="https://www.xiaozhu168.com/upload/images/hezuohuoban/partner5-hover.png" title="万邦" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/special/hengsheng.jsp" class="partner1" alt="恒胜助贷" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/partner11_a.jpg" title="恒胜助贷" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/news/details-288.html" class="partner1" alt="脸谱科技" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/lianpu.jpg" title="脸谱科技" />
        </a>
        </li>
        <li><a href="http://www.xiaozhu168.com/news/details-359.html" class="partner1" alt="甘肃土豆分期信息管理有限公司" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/tudoufeni.jpg" title="甘肃土豆分期信息管理有限公司" />
        </a>
        </li>
        <li><a href="http://www.163.com/" class="partner1" alt="网易" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/wangyi.jpg" title="网易" />
        </a>
        </li>
        <li><a href="http://gd.sina.com.cn/" class="partner1" alt="新浪广东" target="_blank" rel="nofollow">
            <img src="http://www.xiaozhu168.com/upload/images/hezuohuoban/xinlangguangdong-1.jpg" title="新浪广东" />
        </a>
        </li>
    </ul>
</div>
<!--合作伙伴结束-->
