

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小猪罐子_可靠的网贷理财_全方位本息保障的理财平台_P2P网贷平台</title>
    <meta name="keywords" content="如何投资理财、网络贷款、网贷平台、P2P网贷、小猪罐子" />
    <meta name="description" content="小猪罐子www.xiaozhu168.com致力为投资者打造安全、高效的投融资服务平台;38道极致风控工 序,第三方资金托管本息保障结合成熟的企业团队运营,为投资者财富增值保驾护航。" />
    <style type="text/css" mce_bogus="1">

        body {font-family: SimSun;}
        .contract_tab{ height:auto; with:700px; }
        .contract_tab_tr{ background:#f6f6f6; border:1px solid #ccc;}
        .contract_tab td{font-size:14px; color:#666; text-align:center;}
    </style>
</head>
<body style="padding: 10px;font-size:12px;line-height: 22px;">
<p align="center"><strong>债权转让及回购协议</strong></p>

<p style="text-align: right;">合同编号：</p>

<p><strong>债权转让方（甲方）</strong>：</p>

<p>身份证号码：</p>

<p>联系方式：</p>

<p><strong>债权受让方（乙方）</strong>：</p>

<p>身份证号码：</p>

<p>联系方式：</p>

<p><strong>担保方（丙方）</strong>：</p>

<p>住所地：</p>

<p>联系方式：</p>

<p><strong>居间方（丁方）</strong>：深圳市前海小猪互联网金融服务有限公司</p>

<p>住所地：深圳市南山区深南大道9966号威盛科技大厦7楼</p>

<p>联系方式：400-882-5188</p>

<p>&nbsp;</p>

<p>鉴于：</p>

<p>1.甲方已与债务人签署有关的借款协议、抵押或保证担保协议，甲方已经向债务人实际支付了借款协议项下的款项，该等债权及相关担保权益合法有效；</p>

<p>2.丙方具备法定资质为非金融债务提供担保；</p>

<p>3.丁方通过在线互联网金融服务平台（http://www.xiaozhu168.com/)（下称&ldquo;网络平台&rdquo;）向甲、乙、丙三方提供居间服务。</p>

<p>就甲方向乙方进行债权转让、丙方为甲方提供担保、丁方为甲、乙、丙三方提供居间服务等事宜，为明确各方权利义务，根据我国法律规定及《小猪罐子网络平台服务协议》条款，经各方同意，达成本协议项下条款，以资各方共同遵守：</p>

<p><strong>第一条&nbsp; 交易规则</strong></p>

<p>甲、乙、丙三方认可并接受丁方提供的网络平台的交易模式及交易规则，遵守丁方制定的《小猪罐子网络平台服务协议》及在网络平台公布的其他交易规则和规定。各方权利义务受《小猪罐子网络平台服务协议》及在网络平台公布的其他交易规则和规定的约束。</p>

<p><strong>第二条&nbsp; 转让债权（原债权）的相关信息</strong></p>

<p>（一）债权合同编号：</p>

<p>（二）<span style="line-height: 1.6em;">担保措施：</span></p>

<p><strong>第三条&nbsp; 受让债权的数额及利率</strong></p>

<p>（一）受让债权的本金：</p>

<p>（二）受让债权的利率：</p>

<p>（三）受让债权的期限：受让债权期限以债权转让完成时起算。</p>

<p><strong>第四条&nbsp; 还款方式</strong></p>

<p>各方一致同意采用如下（&nbsp; ）种方式向乙方还款：</p>

<p>（1）按月付息，到期还款。</p>

<p>（2）到期一次性还本付息。</p>

<p>（3）按月等额本息还款。</p>

<p><strong>第五条&nbsp; 债权转让的完成及法律效力</strong></p>

<p>（一）甲、乙、丙三方均确认，乙方通过第三方支付平台完成债权转让款项的支付（具体交易流程参照网络平台交易规则执行），债权转让款项支付成功即视为债权转让完成。</p>

<p>（二）债权转让完成后，乙方作为债务人的新债权人，享有约定金额的债权及对应的担保权益。</p>

<p>（三）甲方在签订本协议之日起3个工作日内，将其合法拥有上述债权的相关证明文件（借款协议、抵押、质押担保协议等）的扫描件向丁方交付。</p>

<p><strong>第六条&nbsp; 陈述和保证</strong></p>

<p>（一）甲方承诺并保证：其依法设立并有效存续，有权实施本协议项下的债权转让行为并能够独立承担民事责任，其转让的债权系合法、有效、没有争议的债权。</p>

<p>（二）乙方承诺并保证：其有权实施本协议项下的债权转让行为并能够独立承担民事责任。乙方申请、受让债权的资金来源合法。</p>

<p>（三）丙方承诺并保证：债权转让回购期届满后，甲方迟延履行或不履行回购义务，丙方即刻向乙方按照第七条的约定承担担保义务。</p>

<p><strong>第七条&nbsp; 关于债权回购及担保</strong></p>

<p>（一）回购标的：受让债权项下的本金及到期利息。</p>

<p>（二）回购时间：受让债权期限届满之日。</p>

<p>（三）债权回购担保：</p>

<p>（1）丙方对甲方及时、全额回购债权（含利息）的义务向乙方承担不可撤销连带保证责任。若甲方未履行或未完全履行回购义务，丙方在债权受让期限届满之日起5个工作日内无条件的向乙方清偿本金和到期利息。</p>

<p>（2）回购履约担保期间为债权受让期限届满后两年止。</p>

<p>（3）丙方履行担保责任向乙方清偿债务后，有权向甲方追索。</p>

<p><strong>第八条&nbsp; 违约责任</strong></p>

<p>一方违反本协议约定给守约方造成损失的，违约方应当赔偿守约方因此而遭受的经济损失。</p>

<p><strong>第九条&nbsp; 特别提示</strong></p>

<p>（一）丁方作为中立的一方为协议各方提供居间服务，丁方不对甲、乙、丙中的任何一方的违法、违约行为提供担保或代为履行任何义务。</p>

<p>（二）甲、乙、丙三方均授权丁方在其互联网金融服务网络平台进行债权转让、受让（申购）等操作，该授权行为非经丁方许可不得撤销。</p>

<p>（三）本协议在债权转让信息公示前，甲方已通过发送书面、电子函件等形式通知债务人，债务人知悉因上述债权转让行为应承担的责任。</p>

<p>（四）因司法、行政机关对其他各方注册帐户采取的查封、冻结、扣划等措施所产生的后果，丁方不承担任何法律责任。</p>

<p>（五）各方在网络平台进行交易时，应当认真阅读网络平台的各种交易规则、提示、指示，如有疑惑应当咨询专业人士。</p>

<p><strong>第十条&nbsp; 协议生效及其他</strong></p>

<p>（一）本协议经签章或通过在网络平台点击确认后即视为有效签署，无论协议系书面形式或电子版本，均为各方真实的意思表示，对各方均有法律约束力。</p>

<p>（二）本协议独立于甲、乙、丙、丁四方达成的其他相关协议。</p>

<p>（三）本协议根据有关法律、法规、规章以及其他规则制定，修改或增补，修改或增补的内容将由丁方在网络平台以电子公告形式通知各方，不再另行通知，各方应当随时关注规则的变化。</p>

<p>（四）对本协议的理解发生争议的，由丁方按照法律的规定进行解释。</p>

<p><strong>第十一条&nbsp;&nbsp; 法律适用和争端解决</strong></p>

<p>（一）本协议的订立、效力、履行及终止均适用中华人民共和国法律。</p>

<p>（二）在本协议履行过程中发生的纠纷，各方应友好协商解决，不能协商未解决的，由广东省深圳市南山区人民法院管辖。</p>

<p>甲方：</p>

<p>乙方：</p>

<p>丙方：</p>

<p>丁方：</p>

<p>&nbsp;</p>

<p>签署日期：</p>

<p>&nbsp;</p>

</body>
</html>
