
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>G163004<1期>_小猪罐子【理财平台排名领先品牌】</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="小猪罐子,小猪罐子P2P,小猪罐子理财,广东P2P理财,P2P理财,网络理财平台，网络理财,投资理财,网上投资理财" />
    <meta name="Description" content="小猪罐子官网-资金第三方托管的投资理财平台;安全合规的P2P理财平台，小猪罐子以36道风控工序,与华兴银行、汇付天下、连连支付等合作保障投资者资金安全，结合成熟的企业团队运营,为投资者财富增值保驾护航。" />
    <link href="http://mer.xiaozhu168.com/static/website/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="http://mer.xiaozhu168.com/static/website/style/common.css?v=5.5" type="text/css" rel="stylesheet" />
    <link href="http://mer.xiaozhu168.com/static/website/style/icon.css?v=5.0" type="text/css" rel="stylesheet" />
    <link href="http://mer.xiaozhu168.com/static/website/style/home/user_info.css?v=2017327103609" type="text/css" rel="stylesheet" />

    <link href="http://mer.xiaozhu168.com/static/website/style/tag_detail.css?v=2.0" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .tag-data{ position: relative;}
        .cool-tag{ position: absolute; right: 0;top: 0; background: url(http://mer.xiaozhu168.com/static/website/images/cool_tag.png) no-repeat;width: 100px;height: 80px;}
        .cool-time{ margin-right: 88px}
        .cool{ background: #ff6235 !important;}
    </style>
</head>

<body>
<!-- 头部 start -->
<!--顶部灰条div-->
<!--[if lt IE 8]>
<div id="kie-bar" class="kie-bar">
    您现在使用的浏览器版本过低，可能会导致浏览效果和信息的缺失。
    建议立即升级到
    <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank" title="免费升级至IE8浏览器">Internet Explorer 8</a>
    或
    <a href="http://baoku.360.cn/soft/show/appid/100923" target="_blank" title="免费升级至360安全浏览器">360安全浏览器</a>
    ，安全更放心！
</div>
<![endif]-->
<!--[if IE 6]>
<script src="http://mer.xiaozhu168.com/static/website/js/ie6-png/iepngfix_tilebg.js" ></script>
<![endif]-->
<div class="header">
    <div class="header-content">
        <!-- 客服热线 start -->
        <div class="custom-service">
            <i class="icon-custom-service"></i>
            客服热线：<span class="green bold">400-882-5188</span>
            <span class="lighter">（工作日 9:00 - 22:00）</span>
        </div>
        <!-- 客服热线 end -->

        <!-- 用户登录状态 start -->
        <ul class="user-status">
            <!-- 已登录 start -->
            <!-- 已登录 end -->

            <!-- 未登录 start -->
            <li>
                <a href="javascript:loginWin();" class="darker">登录</a>
            </li>
            <li>
                <a href="http://www.xiaozhu168.com/reg.html" class="red">注册</a>
            </li>
            <!-- 未登录 end -->
            <li>
                <a href="javascript:loginWin('https://www.xiaozhu168.com/rechargeInit');">充值</a>
            </li>
            <li>
                <a href="http://www.xiaozhu168.com/help/loginReg.html" target="_blank">帮助中心</a>
            </li>
            <li>
                <a href="http://www.xiaozhu168.com/ask/" target="_blank">小猪问答</a>
            </li>
            <li class="last-li">
                <!-- 掌上小猪 start -->
                <div class="xiaozhu-hand">
                    <i class="icon-phone1"></i>
                    掌上小猪
                    <i class="icon-down-green"></i>

                    <div class="xiaozhu-hand-box">
                        <div class="xiaozhu-hand-qrcode clearfix">
                            <i class="icon-pointup-white"></i>
                            <img src="http://mer.xiaozhu168.com/static/website/images/qrcode.png" />
                            <p>
                                掌上投资，更加精彩<br />
                                <span class="green">下载小猪罐子客户端</span><br />
                                <a href="https://itunes.apple.com/cn/app/xiao-zhu-guan-zi/id1012792916?mt=8" class="app-download-btn iphone-download-btn" title="app iphone 下载">
                                </a>
                                <a href="http://www.xiaozhu168.com/upload/files/app/xiaozhu_2.2.0.apk" class="app-download-btn android-download-btn" title="app android 下载">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 掌上小猪 end -->

                <!-- 新浪微博 start -->
                <a href="javascript:;" class="tencent-wechat">
                    <em class="qrcode-hover-border"></em>
                    <div class="qrcode-box">
                        <div class="tencent-wechat-content qrcode-content">
                            <span class="wechat-qrcode"></span>
                            扫描关注<span class="green">微信</span>
                        </div>
                    </div>
                </a>
                <!-- 新浪微博 end -->

                <!-- 微信 start -->
                <a href="http://weibo.com/xiaozhuguanzi" class="sina-weibo" target="_blank">
                    <em class="qrcode-hover-border"></em>
                    <div class="qrcode-box">
                        <div class="weibo-qrcode-content qrcode-content">
                            <span class="weibo-qrcode"></span>
                            扫描关注<span class="red">微博</span>
                        </div>
                    </div>
                </a>
                <!-- 微信 end -->
            </li>
        </ul>
        <!-- 用户登录状态 end -->

    </div>

</div>
<!--灰色顶部菜单栏结束-->
<div class="common-nav">
    <div class="nav-bar">
        <a href="http://www.xiaozhu168.com/" class="xiaozhu-logo"><img src="http://mer.xiaozhu168.com/static/website/images/PC-logo_AE.gif" alt="小猪logo" /></a>

        <!-- 菜单 start -->
        <div class="nav-content">
            <ul class="common-nav-list">
                <li class="active">
                    <a href="http://www.xiaozhu168.com/">首页</a>
                </li>
                <li>
                    <a href="http://www.xiaozhu168.com/pool-13-0-0-0-0-1-1.html">我要投资</a>
                </li>
                <li>
                    <a href="http://www.xiaozhu168.com/companyProfile.html">信息披露</a>
                </li>
                <li>
                    <a href="http://www.xiaozhu168.com/safety_guarantee.html" target="_blank">安全保障</a>
                </li>
                <li>
                    <a href="http://www.xiaozhu168.com/mall/">小猪商城</a>
                </li>
                <li>
                    <a href="http://www.xiaozhu168.com/aboutus.html">了解小猪</a>
                </li>
            </ul>
        </div>
        <!-- 菜单 end -->
    </div>
</div>
<!-- 添加一个用于在loginWin 方法中使用的basePath 标识 -->
<input type="hidden" id="jsLoginWinBasePath" name="jsLoginWinBasePath" value="http://www.xiaozhu168.com/"/>
<!-- 头部 end -->
<!-- 面包屑start -->
<div class="crumbs">
    <div class="crumbs-content">
        <i class="icon-house"></i>
        <a href="http://www.xiaozhu168.com/">首页</a>
        <i class="icon-leftarrow"></i>
        <a href="http://www.xiaozhu168.com/invest-0-0-0-0-0-1-1.html">投资理财</a>
        <i class="icon-leftarrow"></i>
        <a href="javascript:;">产品详情</a>
    </div>
</div>
<!-- 面包屑end -->

<!-- 标数据 start -->
<div class="tag-data">
    <div class="tag-data-content">

        <!-- 标名称&开标时间 start -->
        <div class="tag-type clearfix">
            <div class="tag-name float-l">
                <i class="tag-flag-all">优</i>
                G163004<1期><em class="tag-flag">可使用红利</em>  <!-- 判断是否是 新手标 -->
                <em class="tag-flag">可使用现金券</em>
                <em class="tag-flag">可使用加息券</em>
                <input type="hidden" id="addInterestUsed" value="1">
                <input type="hidden" id="bonusUsed" value="1">
                <input type="hidden" id="voucherUsed" value="1">
            </div>

            <div class="tag-time float-r">
                <input  type="hidden"  value="2016-07-05 11:23:0"   id="tenderTime"   />
                <i class="icon-time"></i><em>
                开标时间：2016-07-05 11:23:00</em>
            </div>

            <!-- 爽一发 活动 -->
        </div>
        <!-- 标名称&开标时间 end -->

        <div class="tag-data-detail clearfix">
            <div class="tag-data-view">
                <!-- 年化收益&期限&总额 start -->
                <ul class="tag-data-list clearfix">
                    <li class="tag-profit">
                        <strong>
                            13.00<sub>%</sub>
                            <em class="vip-profit">
                                +VIP
                            </em>
                        </strong><br />
                        预期年化收益
                    </li>
                    <li class="tag-limit">
                        <strong>111<sub>
                            天</sub></strong><br />
                        期限
                    </li>
                    <li class="tag-count">
                        <strong>400,000.00<sub>元</sub></strong><br />
                        项目金额
                    </li>
                </ul>
                <!-- 年化收益&期限&总额 end -->

                <!-- 进度条 start -->
                <div class="tag-progress">
                    <div class="tag-progress-bar" progress="100.00%">

                        <!-- 爽一发-->
                        <em class="tag-progress-finished"></em>
                    </div>
                    <span>100.00%</span>
                </div>
                <!-- 进度条 end -->

                <hr class="dashed" />

                <!-- 标特征 start -->
                <div class="tag-features">
                    <i class="icon-hook"></i>
                    <span class="popTip" title="若借款出现逾期，<br />由合作机构对投资人本息进行全额垫付。">本金+利息</span>
                    <i class="icon-hook"></i>
                    <span class="popTip" title="成交次日开始计息">T(成交日)+1天</span>
                    <i class="icon-hook"></i>
                    <!-- span class="popTip" title="成交次日开始计息"> -->
                    <span class="popTip" title="项目到期后一次性归还本金和利息。">一次性还本付息</span>
                    <!-- </span> -->
                </div>
                <!-- 标特征 end -->

                <!-- 合作机构&活动 start -->
                <div class="tag-data-more clearfix">

                    合作机构：万邦小额贷款有限责任公司<!-- <div class="tag-avt">
						<i class="icon-hot"></i>
						活动：限时投资送好礼，逢万必返现金券
					</div> -->
                </div>
                <!-- 合作机构&活动 end -->
            </div>

            <!-- 投标区域 start -->
            <div class="tag-invest">
                <ul class="invest-count clearfix">
                    <li class="invest-residue">
                        可投金额<em>(元)</em><br />
                        <span class="blue">0.00</span>
                    </li>
                    <!-- 已登录 start -->
                    <!-- 已登录 end -->
                    <!-- 未登录 start -->
                    <li class="user-residue">
                        账户余额<em>(元)</em><br />
                        <span class="user-count dark">
							请<a href="javascript:loginWin('/xz168/pro-details-2824.html')" class="login">登录</a>查看
						</span>
                    </li>
                    <!-- 未登录 end -->
                </ul>

                <form id="form" name="form" action="/newFinanceInvest" target="_blank" method="post"><div class="invest-area">
                    <div class="invest-form-line">
                        <input type="text" id="borrowSum2824"  maxlength="8" name="paramMap.amount" preValue="0" class="invest-ipt" placeholder="起投金额100.00元" />
                        <input type="button" class="popTip" title="没有使用优惠" value="优惠"   onclick="loginWin('/xz168/pro-details-2824.html')"/>
                    </div>
                    <div class="ticket-status">
                        <!-- 已使用 <em class="tickets-used">50元现金券;</em> -->
                    </div>
                </div>
                    <input type="hidden" id="annualRate" name="paramMap.annualRate" value="13.00" />
                    <input type="hidden" id="deadline" name="paramMap.deadline" value="111" />
                    <input type="hidden" id="minTenderedSum" name="paramMap.minTenderedSum" value="100.00" />
                    <input type="hidden" id="maxTenderedSum" value="400000.00" />
                    <input type="hidden" id="useableSum" value="" />
                    <input type="hidden" id="blue" value="0.00" />
                    <input type="hidden" id="isDayThe" name="paramMap.isDayThe" value="1" />
                    <input type="hidden" id="paymentMode" name="paramMap.paymentMode" value="3" />
                    <input type="hidden" id="borrowId" name="paramMap.id" value="2824" />
                    <input type="hidden" id="voucherIds2824" name="paramMap.voucherIds"/>
                    <input type="hidden" id="voucherAmt2824"/>
                    <input type="hidden" id="bonusIds2824" name="paramMap.bonusIds"/>
                    <input type="hidden" id="bonusAmt2824"/>
                    <input type="hidden" id="interestIds2824" name="paramMap.interestIds"/>
                    <input type="hidden" id="borrowWay"  name="paramMap.borrowWay"  value="1">
                    <input type="hidden" id="isSync"  name="paramMap.isSync"  value="">
                </form>


                <hr class="dashed" />

                <!-- 到期收益 start -->
                <ul class="invest-feedback clearfix">
                    <li>
                        预计到期收益<em>(元)</em>
                        <span class="invest-income">0.00</span>
                    </li>
                    <li>
                        额外收益<em>(元)</em>
                        <span class="vip-income">0.00</span>
                    </li>
                    <li class="last-li">
                        阿诺币<em>(个)</em>
                        <i style="cursor: pointer;" class="icon-tip-q" title="如何获得阿诺币：
1、通过平台投资获得阿诺币。
2、参与平台活动获得阿诺币。

如何使用阿诺币：
可通过在平台商城消耗阿诺币兑换商品。"></i>
                        <span class="aruo-income">0</span>
                    </li >
                </ul>
                <!-- 到期收益 end -->

                <!-- 投标按钮 start -->
                <!-- 爽一发活动 -->
                <!-- 即将上线 -->
                <!-- 招标中 -->
                <!-- 流标中 -->
                <!-- 收益中 -->
                <!-- 已还款 -->
                <a href="javascript:loginWin('http://www.xiaozhu168.com/pro-details-2824.html');"  class="invest-btn btn-status3" >已还款</a>
                <!-- 爽一发活动 -->
                <!-- 投标按钮 end -->

                <div class="invest-area-more">
                    <label class="checkbox">
                        <input type="checkbox" checked  id="agre"/>
                        同意成功后自动生成《<a href="javascript:;" class="contract-link" id="contract" style="color:#1eae58">合同</a>》
                    </label>
                    <i class="icon-invest-warnning"></i>
                    小猪提醒：投资有风险，理财需谨慎 [<a href="http://www.xiaozhu168.com/safety-ensure.html"  target="_blank" style="color:#1eae58">小猪风控体系</a>]
                </div>

            </div>
            <!-- 投标区域 end -->
        </div>

    </div>

</div>
<!-- 标数据 end -->

<!-- 项目详情 start -->
<div class="project-detail clearfix">

    <div class="project-nav">
        <ul>
            <li class="active">
                <em>○</em>项目介绍
            </li>
            <li>
                <em>○</em>项目资质
            </li>
            <li>
                <em>○</em>投资记录
            </li>
            <li>
                <em>○</em>常见问题
            </li>
        </ul>
    </div>

    <div class="project-info">
        <!-- 项目介绍 start -->
        <div class="info-section info-section1">
            <h3>
                <span>项目介绍</span>
            </h3>

            <h4>项目信息</h4>

            <div class="project-table">
                <table>
                    <tr>
                        <td class="gray-td">
                            项目类型
                        </td>
                        <td>
                            债权转让类型</td>
                        <td class="gray-td">
                            是否可转让
                        </td>
                        <td>

                            否
                        </td>
                    </tr>
                    <tr>
                        <td class="gray-td">
                            标的类型
                        </td>
                        <td>

                            优质标
                        </td>
                        <td class="gray-td">
                            还款来源
                        </td>
                        <td>
                            <p>第一还款来源：经营收入。</p>
                        </td>
                    </tr>
                </table>
            </div>

            <h4>项目介绍</h4>
            <div class="info-p">
                <p>借款人陆某，性别男，生于1967年，在兰州市经营一家房地产公司，经营稳定进行，利润可观。经过对其实地走访调查，借款人征信状况正常，无不良信誉记录，本次借款主要用于短期资金周转，借款金额为人民币：70万元，借款期限4个月。</p>

                <p>本项目金额70万元，分2期上线，1期发标金额为40万元，第2期30万元。</p>
            </div>

            <h4>风控建议</h4>
            <div class="info-p">
                <p>经万邦小贷的风控审核评估，原借款人征信报告正常，信用记录优秀，无任何贷款逾期记录。在投资人受让债权的期限内，投资人本金和收益的安全由万邦小贷提供不可撤销连带保证责任。综上所述，本项目属优质、低风险项目，予以上线通过。</p>
            </div>
            <h4>免责声明</h4>
            <div class="info-p">
                小猪罐子作为网络借贷信息中介平台进行信息发布，未以任何明示或暗示的方式对投资人提供任何担保或承诺保本保息。小猪罐子展示的各种资料由借款人提供，仅供出借人（投资人）投资参考使用，投资人应根据其自身投资偏好及风险承受能力独立判断并作出决策。投资人据此进行交易的，产生的责任与风险由投资人自行承担，小猪罐子不承担任何责任。
            </div>
        </div>
        <!-- 项目介绍 end -->

        <!-- 项目资质 start -->
        <div class="info-section info-section2">
            <h3>
                <span>项目资质</span>
            </h3>

            <div class="product-banner" id="imgBanner">
                <ul class="product-banner-list">
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/frsfz.jpg">
                        </p>
                        身份证</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/fwtxqz.jpg">
                        </p>
                        房屋他项权证</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/fcz2.jpg">
                        </p>
                        房产证2</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/fcz1.jpg">
                        </p>
                        房产证1</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dyrjhz.jpg">
                        </p>
                        抵押人结婚证</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dyrsfz.jpg">
                        </p>
                        抵押人身份证</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dywqd.jpg">
                        </p>
                        抵押物清单</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dyht3.jpg">
                        </p>
                        抵押合同3</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dyht2.jpg">
                        </p>
                        抵押合同2</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/dyht1.jpg">
                        </p>
                        抵押合同1</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/jkht3.jpg">
                        </p>
                        借款合同3</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/jkht2.jpg">
                        </p>
                        借款合同2</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/jkht1.jpg">
                        </p>
                        借款合同1</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/jj.jpg">
                        </p>
                        借款借据</li>
                    <li>
                        <p class="clearfix">
                            <img src="http://www.xiaozhu168.com/upload/images/borrow/2016xiangmu/07yue/0704-G163004/hgh.jpg">
                        </p>
                        回购承诺函</li>
                </ul>
            </div>

        </div>
        <!-- 项目资质 end -->

        <!-- 投资记录 start -->
        <div class="info-section info-section3">
            <h3>
                <span>投资记录</span>
            </h3>

            <div class="invest-record-box clearfix">


            </div>

        </div>
        <!-- 投资记录 end -->

        <!-- 常见问题 start -->
        <div class="info-section info-section4">
            <h3>
                <span>常见问题</span>
            </h3>

            <div class="question-box">
                <p>
                    <em>1</em>
                    <strong class="invest-q">投资道具使用条件？</strong>
                    <span>答：</span>
                    在支持使用投资道具类的项目中，点击“使用优惠券”，如有符合此项目的道具，会弹出道具勾选框，勾选您想要使用的道具进行投资使用。
                </p>

                <p>
                    <em>2</em>
                    <strong class="invest-q">什么时候开始计息？</strong>
                    <span>答：</span>
                    所投资标的在当天晚上十点之前满标（产品投标进度100%）则会在次日开始计息，如在晚上十点之后满标，计算利息时间则需要延迟一日 。
                </p>

                <p>
                    <em>3</em>
                    <strong class="invest-q">投资成功后是否可以取消？</strong>
                    <span>答：</span>
                    您在成功申购投资项目后不允许取消，若此项目满标并通过审核后，您账户上的投资冻结金额自动将转入该项目融资人账户。若此项目流标，则您账户上的投资冻结金额将自动转为可用余额。
                </p>

                <p>
                    <em>4</em>
                    <strong class="invest-q">为什么投资资金会被冻结？</strong>
                    <span>答：</span>
                    您购买的投资项目尚处于“进行中”或“收益中”的状态，实际还未借出的资金。冻结金额暂时不能使用。
                </p>

                <p>
                    <em>5</em>
                    <strong class="invest-q">借款人可以提前还款吗？当借款人提前还款时，出借人的收益会不会受影响？</strong>
                    <span>答：</span>
                    允许借款人提前还款。投资存在风险，如借款人在资金充裕的情况下提前还款，可以降低投资风险。当借款人提前还款且一次性偿还全部应还款项时，出借人的实际收益将按照实际持有债权的投资期限计算，因此借款人提前还款会使出借人的可预期收益减少。
                </p>

                <p>
                    <em>6</em>
                    <strong class="invest-q">投资了长期的项目，现在急需用钱，怎么办？</strong>
                    <span>答：</span>
                    考虑到客户资金的流动性，我们提供了债权转让的服务。客户可以将符合条件的项目申请债权转让，提早收回债权。
                </p>

                <p>
                    <em>7</em>
                    <strong class="invest-q">借款人还款方式有哪几种？</strong>
                    <span>答：</span>
                    包括等额本息、一次性还本付息、按月付息到期还本。<br />
                    等额本息：借款人每月还固定的金额，本金的比例会随着还款时间逐渐增加，利息的比例会逐渐减少。<br />
                    一次性还本付息：借款人在项目到期后一次性归还本金和利息。<br />
                    按月付息到期还本：每个月偿还利息，贷款到期后再一次性偿还本金。
                </p>
            </div>

            <a href="http://www.xiaozhu168.com/help/loginReg.html;" class="view-more-q">查看更多问题</a>
        </div>
        <!-- 常见问题 end -->

    </div>

</div>

<div style="display: block; clear: both;"></div>
<div class="xz-bottom">
    <!-- <div class="xz-widget">
        <div class="xz-widget-header">
            <div class="to-top1">
                <span class="top-xiaozhu1"></span>
                <span class="top-xiaozhu2"></span>
                <i class="to-top-icon1"></i>
                <i class="to-top-icon2"></i>
            </div>
            <div class="bottom-ad">
                <p>开启轻松、安全、稳健的理财之旅吧！<a href="javascript:;">立即注册去投资</a></p>
            </div>
        </div> -->

    <div class="xz-widget-body">
        <table class="bottom-left table">
            <tr>
                <th>关于</th>
                <th>安全</th>
                <th>服务</th>
                <th>新手指引</th>
            </tr>
            <tr>
                <td><a href="http://www.xiaozhu168.com/aboutus.html" target="_blank">公司简介</a></td>
                <td><a href="http://www.xiaozhu168.com/safety_guarantee.html" target="_blank">安全保障</a></td>
                <td><a href="http://www.xiaozhu168.com/vip_power.html" target="_blank">会员权益</a></td>
                <td><a href="https://www.xiaozhu168.com/forgetpassword.html" target="_blank">找回密码</a></td>
            </tr>
            <tr>
                <td><a href="http://www.xiaozhu168.com/aboutus.html#7" target="_blank">商务合作</a></td>
                <td><a href="http://www.xiaozhu168.com/safety-ensure.html" target="_blank">风控体系</a></td>
                <td><a href="http://www.xiaozhu168.com/help/loginReg.html" target="_blank">帮助中心</a></td>
                <td><a href="https://www.xiaozhu168.com/reg.html" target="_blank">注册帐号</a></td>
            </tr>
            <tr>
                <td><a href="http://www.xiaozhu168.com/aboutus.html#3" target="_blank">团队故事</a></td>
                <td><a href="http://www.xiaozhu168.com/server_exp.html#money" target="_blank">资金托管</a></td>
                <td><a href="http://www.xiaozhu168.com/server_exp.html" target="_blank">资费说明</a></td>
                <td><a href="http://www.xiaozhu168.com/map.html" target="_blank">网站地图</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a href="http://www.xiaozhu168.com/electronicSecurity.html" target="_blank">电子保全</a></td>
                <td><a href="http://www.xiaozhu168.com/baike/" target="_blank">理财百科</a></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div class="bottom-center">
            <img src="http://mer.xiaozhu168.com/static/website/images/wx_tb.jpg" titlel="关注微信公众号" />
            <br />
            <span>关注<em>微信公众号</em></span>
        </div>
        <div class="bottom-right">
            <div class="clearfix">
                <a href="https://shang.qq.com/wpa/qunwpa?idkey=510d1fd88ddc0946320b45a026378e90b5c317eee5ca2b2a7b88237c0cccffb1" id="qq-group" class="qq-group" title="投资交流群"></a>
            </div>
            <em>客服热线</em>( 工作日 9:00 - 22:00 )
            <br />
            <strong>400-882-5188</strong>
            <br />
            <a href="https://itunes.apple.com/cn/app/xiao-zhu-guan-zi/id1012792916?mt=8" class="iphone-download" title="下载手机app"></a>
            <a href="http://www.xiaozhu168.com/upload/files/app/xiaozhu_2.2.0.apk" class="android-download" title="下载手机app"></a>
        </div>
    </div>
    <div class="xz-widget-footer">
        <dl class="clearfix index_foot_dl active">
        </dl>
        <div class="footer">
            <div>
                <div class="float-l">
                    copyright©2014 xiaozhu168.com All Rights Reserved 备案号：粤ICP备14055923号<br />
                    深圳市前海小猪互联网金融服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;
                    地址：深圳市南山区深南大道9966号威盛科技大厦7楼
                </div>
                <div class="float-r">
                    <a key ="558ab0b7efbfb02e2a186fda" style="background:none;margin-right:40px;" class="aptitude-1" target="_blank" logo_size="83x30"  logo_type="business"  href="http://www.anquan.org" ><script src="https://static.anquan.org/static/outer/js/aq_auth.js"></script></a>
                    <a id='___szfw_logo___' style="margin-right:78px;" href='https://credit.szfw.org/CX20160229013712570171.html' target='_blank'><img src='http://mer.xiaozhu168.com/static/website/images/cert.png' width="112" border='0' /></a>
                    <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" class="aptitude-1" title="工业和信息化部" target="_blank"></a>
                    <a href="http://szcert.ebs.org.cn/ebc298c1-8dbf-4784-a88c-5c62cb2d9461" class="aptitude-2" title="深圳市网络经营者信息公示" target="_blank"></a>
                    <a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1398578442" class="aptitude-3" title="ICP网站征信证书" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--右侧悬浮-->
<div class="com_left_div">
    <div class="right-fix-tools">
        <div class="fix-tools-content">
            <a href="activity.html" target="_back" rel="nofollow">
                <div class="com_left_li"><i class="com_left_i1"></i><em>活动专区</em></div>
            </a>
            <!-- <a target="_blank" href="http://b.qq.com/webc.htm?new=0&sid=4008825188&eid=218808P8z8p8q8R8P8q80&o=www.xiaozhu168.com&q=7" rel="nofollow"> -->
            <a target="_blank" href="javascript:;" onclick="ysf.open();return false;">
                <div class="com_left_li1 com_left_li4"><i class="com_left_i2"></i><em>在线客服</em><label></label></div>
            </a>
            <div class="com_left_li1 com_left_li5 calculate" id="fix_calculate"><i class="com_left_i3"></i><em>计算收益</em><label></label></div>
            <a  href="http://www.xiaozhu168.com/homeAutoTender" style="display: none;">
                <div class="com_left_li1 com_left_li5 calculate" id="fix_calculate"><i class="com_left_i9"></i><em>批量投标</em><label></label></div>
            </a>
            <div class="com_left_div2 goto_top"><i class="com_left_i4"></i><em>返回顶部</em></div>
        </div>
    </div>
</div>
<input type="hidden" value="" id="noquestion">
<!--右侧悬浮结束-->
<script src="https://qiyukf.com/script/c57c1e6a6ef539fba5f8066aad13ec15.js?uid=&moblie=" ></script>
<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/common.js?v=1.3"></script>
<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/jquery.poshytip.min.js"></script>
<script type="text/javascript">
    $(function () {
        //菜单着色
        (function(){
            var _em = $('.widget-header-em > em');
            var __li = $('.parentList .childList li');
            $.each(__li,function (i){
                var _this_li = __li.eq(i);

                if(_this_li.find('i').text() == _em.text())
                    _this_li.addClass('active');

            });
        })();
    })
    // 提示框
    var _opts = {
        className: "tip-yellowsimple",
        showTimeout: 1,
        alignTo: "target",
        alignX: "center",
        alignY: "top",
        offsetY: 10,
        offsetX:20,
        allowTipHover: true
    };
    $(".popTip").poshytip(  _opts );
    $(function(){
        var state='';
        var errorMsg='';
        if(state==1){
            xzalert( errorMsg );
        }
    })


    function queryQuestion(){
        var noquestion = $('#noquestion').val();
        $.post("queryQuestion",  function(data) {
            if(data.noquestion == 1){
                xzalert("暂无调查问卷！");
                return ;
            }else{
                //window.location.href= "http://www.xiaozhu168.com/queryQuestion.html";
                window.open("http://www.xiaozhu168.com/queryQuestion.html");
            }
        })
    }


</script>

<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/ticket-box.js?v=2.0"></script>
<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/tag-detail.js?v=2.2"></script>
<script type="text/javascript" src="http://mer.xiaozhu168.com/static/website/js/jquery.xz168-1.0.js"></script>
<script type="text/javascript">
    //头部导航
    $(".common-nav-list li").removeClass("active");
    $(".common-nav-list li").eq(1).addClass("active");
    $(document).ready(function(){
//合同弹窗
        var contrastWin = popOut({
            title : '合同',
            width : '600px',
            height : '615px',
            content : ''
        });
        var content = contrastWin.box.find( '.popout-content' );
        $( '#contract' ).click(function(){
            if("5"==$("#borrowWay").val()){
                //直融产品
                content.html( '<iframe style="border:none;overflow:auto;width:600px;height:535px;" src="newRegAgreement?type=2&option01=11"></iframe>' );
                contrastWin.show();
            }else{
                content.html( '<iframe style="border:none;overflow:auto;width:600px;height:535px;" src="newRegAgreement?type=2&option01=2"></iframe>' );
                contrastWin.show();
            }
        });
        param = {};
        param["pageBean.pageNum"] = 1;
        initListInfo(param);

    });


    function initListInfo(param){
        param["paramMap.id"] = $("#borrowId").val();
        $.post("newBorrowInvestRecordList", param, function(data) {
            $(".invest-record-box").html(data);
        });

    }

    // 项目信息浮动导航
    (function(){
        var nav = $( '.project-nav' );
        var navList = $( '.project-nav li' );
        var sections = $( '.info-section' );
        var content = nav.parent();
        var t = content.offset().top;
        var h = content.height() - nav.height();
        var index;
        $(window).on( 'scroll resize' , function(){
            var st = document.documentElement.scrollTop || document.body.scrollTop;
            var pos = Math.max( st - t , 36 );
            pos = Math.min( pos , h );
            nav.stop().animate({ 'top' : pos } , _autoNav );
        });
        navList.click(function(){
            var index = $(this).index();
            $( 'html,body' ).stop().animate({
                scrollTop : sections.eq( index ).offset().top
            } , _autoNav );
        });
        // 自动导航
        function _autoNav(){
            for(var i=0;i<sections.length;i++){
                if( !_sectionNotInScreen( sections.eq( i ) ) ){
                    navList.removeClass( 'active' );
                    navList.eq( i ).addClass( 'active' );
                    return;
                }
            }
        }
        // 判断某一项是否不在屏幕内
        function _sectionNotInScreen( section ){
            var h = $(window).height();
            var st = document.documentElement.scrollTop || document.body.scrollTop;
            var sh = section.height();
            var pt = section.offset().top;
            return pt + sh < st || pt > st + h;
        }
    })();


</script>
</body>
</html>
