<extend name="Public:base"/>

<block name="content">
<!-- 面包屑start -->
<div class="crumbs">
    <div class="crumbs-content">
        <i class="icon-house"></i>
        <a href="/">首页</a>
        <i class="icon-leftarrow"></i>
        <a href="{:U('project')}">投资理财</a>
    </div>
</div>
<!-- 面包屑end -->

<!-- 页面内容 start -->
<div class="main-content">
    <!-- 左边浮动导航 start -->
    <div class="left-nav-bar" id="left-nav-bar">
        <div class="left-nav-slider">
            <dl class="nav-tab-list">
                <dt>
                    <a href="javascript:;">所有项目</a>
                </dt>
                <volist name="pro_type" id="v" key="k">


                <dd class="active">
                    <a href="{:U('',['tid'=>$v['id']])}">
                        <h4>{$v.name}</h4>
                        <span>
									{$v.abstract}
								</span>
                    </a>
                </dd>
                    <volist name="v.children" id="vo">
                        <dd class="active">
                            <a href="{:U('',['tid'=>$vo['id']])}">
                                <h4>{$vo.name}</h4>
                                <span>
									{$vo.abstract}
								</span>
                            </a>
                        </dd>
                    </volist>
                <dt class="tag-mt10"></dt>
                </volist>





            </dl>

            <!-- 左边打个小广告 start -->
            <!-- 左边打个小广告 end -->
        </div>
    </div>
    <!-- 左边浮动导航 end -->

    <!-- 右边列表 start -->
    <div class="tag-list-content clearfix">
        <!-- 搜索栏 start -->
        <div class="search-bar">
            <ul class="search-list">
                <li>
                    <strong>还款期限</strong>
                    <div class="search-tag-list">
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-0-0-1-1.html"  class="active">全部</a>
                        <a href="http://www.xiaozhu168.com/pool-13-1-0-0-0-1-1.html" >1个月内</a>
                        <a href="http://www.xiaozhu168.com/pool-13-2-0-0-0-1-1.html" >1-3个月</a>
                        <a href="http://www.xiaozhu168.com/pool-13-3-0-0-0-1-1.html" >3-6个月</a>
                        <a href="http://www.xiaozhu168.com/pool-13-4-0-0-0-1-1.html" >6-12个月</a>
                    </div>
                </li>
                <li>
                    <strong>年化利率</strong>
                    <div class="search-tag-list">
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-0-0-1-1.html"  class="active">全部</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-8-0-0-1-1.html"  >8%以上</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-10-0-0-1-1.html" >10%以上</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-13-0-0-1-1.html" >13%以上</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-15-0-0-1-1.html" >15%以上</a>
                    </div>
                </li>

                <!-- 团标无以下判段 -->
                <li>
                    <strong>还款方式</strong>
                    <div class="search-tag-list">
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-0-0-1-1.html"  class="active">全部</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-3-0-1-1.html" >一次性还本付息</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-5-0-1-1.html" >按月付息到期还本</a>
                        <a href="http://www.xiaozhu168.com/pool-13-0-0-1-0-1-1.html" >等额本息</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 搜索栏 end -->

        <!-- 排序方式&分页 start -->
        <div class="order-bar">
            <span>排序方式：</span>
            <ul class="order-list">
                <li  class="active">
                    <a href="http://www.xiaozhu168.com/pool-13-0-0-0-0-1-1.html">默认排序</a>
                </li>
                <li >
                    <a href="http://www.xiaozhu168.com/pool-13-0-0-0-1-2-1.html">预期年化收益</a>
                    <i class="icon-sort-graydown"></i>
                </li>
                <li >
                    <a href="http://www.xiaozhu168.com/pool-13-0-0-0-2-2-1.html">投资期限</a>
                    <i class="icon-sort-graydown"></i>
                </li>
            </ul>

            <div class="pager-bar">
                <a href="javascript:;" class="prev-page-btn">
                    <i class="icon-prev-page"></i>
                </a>
                <div class="page-detail">
                    <em class="page-now">1</em>

                    /
                    <em class="page-sum">1</em>
                </div>
                <a href="javascript:;" class="next-page-btn">
                    <i class="icon-next-page"></i>
                </a>
            </div>
        </div>
        <!-- 排序方式&分页 end -->

        <!-- 团标列表 -->
        <div class="tag-list">

            <div class="invest-tag-bar">
                <div class="tag-detail">
                    <div class="tag-detail-header">
                        <i class="tag-flag-all">团</i>
                        <a href="http://www.xiaozhu168.com/pooldetail-details-3.html" target="_blank">
                            新手团</a>
                    </div>
                    <ul class="tag-info-list">
                        <li class="tag-profit">
                            <strong>
                                10.00<sub>%</sub>
                                <sub>+8.15%</sub>
                            </strong><br/>
                            预期年化收益
                        </li>
                        <li class="tag-date">
							<span class="red">
								<em>30</em><small>天封闭期</small>
							</span><br/>

                            封闭期后将自动退团
                        </li>
                        <li class="tag-fund tag-fund-sub">
                            <strong>
                                2615<small>人次</small>
                            </strong>
                            <br/>
                            累计入团
                        </li>
                    </ul>

                    <a href="javascript:;" class="invest-btn disabled" target="_blank">已售罄</a>
                </div>
            </div>
        </div>
        <!-- 团标列表 -->

        <div class="foot-pager-bar">
            <div class="foot-pager-content">
                <div class='main_c_list_page'><a href='javascript:doJumpPage(1);' class='previousPage'></a><a class='mr_a' href='javascript:doJumpPage(1);'>1</a><a href='javascript:doJumpPage(1);' class='nextPage'></a></div></div>
        </div>

        <!-- 再贴个大广告 start -->
        <a href="https://www.xiaozhu168.com/toAnniversaryActive" target="_blank" class="bottom-ad-content">
            <img src="https://www.xiaozhu168.com/upload/images/banner/liebiaoye%20%20%20800x120.png" />
        </a>
        <!-- 再贴个大广告 end -->
    </div>
    <!-- 右边列表 end -->
</div>
<!-- 页面内容 end -->

<!-- 热门推荐 start -->
<div class="recommend-tags">
    <h3>
        <strong>热门推荐</strong>
    </h3>
    <div class="recommend-tag-content">
        <ul class="recommend-tag-list clearfix">
            <li>
                <a href="http://www.xiaozhu168.com/pro-details-12817.html">
                    <h4>
                        <i class="tag-flag-all">优</i> Q170814-8047<2期></h4>
                    <!-- <em class="tag-flag tag-flag-green">新手标</em> -->
                    <strong>
                        11.80<sub>%</sub>
                        <small>预期年化收益</small>
                    </strong>
                    <div class="recommend-left">
                        <span><em>100.00</em>元</span>
                        起投
                    </div>
                    <div class="recommend-right">
						<span>
						<!-- 不等于灵小猪 -->
							<em>9</em>
							个月</span>
                        期限
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- 热门推荐 end -->
</block>


<block name="footer_js">
<script type="text/javascript" src="__PUBLIC__website/js/jquery.investfy-1.0.js"></script>
<script type="text/javascript" src="__PUBLIC__website/js/elemInScreen.js"></script>
<script type="text/javascript">
    $(function() {
        //头部导航
        $(".common-nav-list li").removeClass("active");
        $(".common-nav-list li").eq(1).addClass("active");

        // 左边tab切换&浮动导航
        (function() {
            var tab = $( '.nav-tab-list dd' );
            var hover = $( '.nav-tab-hover' );
            var pos = 0;
            tab.each(function( index ) {
                var $this = $(this);
                if( $this.hasClass( 'active' ) ) {
                    pos = index;
                    console.log( pos );
                }
                $this.hover(function() {
                    _moveTo( index );
                } , function() {
                    _moveTo( pos );
                });
            });
            _moveTo( pos );

            function _moveTo( index ) {
                hover.attr( 'class' , 'nav-tab-hover hover' + ( index + 1 ) );
                tab.removeClass( 'active' );
                tab.eq( index ).addClass( 'active' );
            }

            var bar = $( '#left-nav-bar' );
            var content = bar.parent();
            var t = content.offset().top;
            var h = content.height() - bar.height();
            var timer;
            $(window).scroll(function() {
                var st = document.documentElement.scrollTop || document.body.scrollTop;
                var pos = Math.max( st - t + 5 , 0 );
                pos = Math.min( pos , h );
                clearTimeout( timer );
                timer = setTimeout(function() {
                    bar.stop().animate({ 'top' : pos });
                } , 300 );
            });
        })();
    });

    // 标进度条加载
    function loadingProgress( elem ) {
        elem.each(function() {
            var progress = $(this).attr( 'progress' );
            $(this).find( '.tag-progress-finished' ).animate({
                width : progress
            });
        });
    }

    $( '.tag-progress-bar' ).showInPageOnce(function( inScreen ) {
        if( inScreen ) {
            loadingProgress( $(this) );
        }
    });
</script>

</block>

