<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <style type="text/css" mce_bogus="1">

        body {font-family: SimSun;}
        .contract_tab{ height:auto; with:700px; }
        .contract_tab_tr{ background:#f6f6f6; border:1px solid #ccc;}
        .contract_tab td{font-size:14px; color:#666; text-align:center;}
    </style>
</head>
<body style="padding: 10px;font-size:12px;line-height: 22px;">
<p style="text-align: center;"><strong>小猪罐子网络平台服务协议</strong></p>

<p>为开展互联网金融业务、便利用户（投资者）操作，深圳市前海小猪互联网金融服务有限公司（下称&ldquo;小猪罐子&rdquo;）注册域名http://www.xiaozhu168.com（下称&ldquo;网络平台&rdquo;）为用户提供网络金融服务。本网站由小猪罐子运营和管理。</p>

<p>为保障用户的合法权益，明确各方权利义务，根据我国相关法律、法规的规定，小猪罐子拟定小猪罐子网络平台服务协议（下称&ldquo;本协议&rdquo;）。用户在自愿注册使用小猪罐子服务前，应当认真、仔细阅读本协议所有条款，如用户对协议条款有疑问，请咨询专业人士的意见。如果用户不接受或不同意本协议项下任何条款，请立即停止注册或主动停止使用本网站的服务。一旦在本网站注册成功并取得用户身份，将视为用户已经完全理解和接受本协议全部内容。</p>

<p>如用户对电子合同有任何疑问，请联系小猪罐子客服人员。</p>

<p><strong>一、本协议的组成及生效</strong></p>

<p>1.本协议包括本协议项下条款、小猪罐子已经发布的或将来可能发布的各类规定、指引和规则。该等规定、指引和规则为本协议不可分割的组成部分，与本协议具有同等法律效力。</p>

<p>2.用户在点击确认本协议后，视为用户同意本协议并签署本协议。用户完成网络平台规定的注册程序成为注册用户后，本协议即行生效，在用户和小猪罐子之间发生法律约束力。</p>

<p>3.本协议不适用不同用户之间的法律关系。但用户在此同意将全面接受和履行与小猪罐子其他用户在小猪罐子签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>

<p>4.如有必要，小猪罐子有权适时单方面变更本协议的内容或各类规定、指引和规则，并在小猪罐子网络平台发布最新协议条款及各类规则，小猪罐子将不通过其他方式进行通知用户。变更后的协议和规则自网络平台公布之时生效。如用户不接受相关变更后的条款或规则，应当立即停止使用小猪罐子网络平台，如用户继续使用网络平台的，即视为用户接受变更后的协议条款和规则。</p>

<p>5.小猪罐子网络平台上的投融资合同采用电子合同方式订立，在用户投资成功后将自动生成。用户通过前述方式订立的电子合同对合同各方具有法律约束力。用户应当妥善保管账户、账号、密码及其他信息，用户不得以其账户、账号、密码等账户信息被盗用、被他人借用等理由否认合同的效力或拒不履行合同项下义务。</p>

<p><strong>二、小猪罐子网络平台服务</strong></p>

<p>1.小猪罐子通过网络平台线上方式和实体线下方式向用户提供居间服务，用户在网络平台注册账户后即可享受小猪罐子提供的服务，包括网络平台线上服务及线下实体服务。</p>

<p>2.小猪罐子致力于为投资人提供理财服务、为融资人提供融资服务，为投融资双方搭建安全、透明、高效的投融资网络交易平台。通过小猪罐子提供的网络平台服务和线下实体服务，用户可发布融资需求、在网络平台上查阅投融资交易机会、提交资料、签订合同、查阅已签订合同、参加小猪罐子组织的活动以及享受其它信息服务及技术服务。</p>

<p>3.用户通过小猪罐子网络平台发出、确认的交易指令为不可撤销指令，小猪罐子将按照用户发出的交易指令进行相关交易或操作。小猪罐子将按用户发出指令内容及小猪罐子服务纠纷处理规则对交易事项进行处理。如果用户未及时对交易状态进行修改或确认或未能及时提交相关申请所造成的损失由用户自行承担。</p>

<p>4.小猪罐子仅为通过网络平台认证的用户提供服务，如用户未能完成认证而无法享受相应服务造成的损失，小猪罐子不承担任何法律责任。</p>

<p><strong>三、服务费用</strong></p>

<p>1.用户使用小猪罐子网络平台服务时，小猪罐子可能会向用户收取相关服务费用，小猪罐子将在网络平台公示收费方式和标准，具体数额以双方另行签订的协议为准。小猪罐子有单方面制定和调整服务收费标准的权利。</p>

<p>2.除非另有约定或规定，用户同意小猪罐子有权直接从用户委托小猪罐子代管、代收或代付的款项中直接扣除上述服务费用而无需用户另外授权或同意。</p>

<p>3.用户在使用小猪罐子网络平台服务过程中（如充值或提现等）可能需要向第三方（如银行或第三方支付公司等）支付费用，具体收费标准详见第三方网站相关页面或小猪罐子网站的提示。</p>

<p><strong>四、用户要求及行为限制</strong></p>

<p>1.在网络平台注册并使用小猪罐子网络平台服务的自然人用户应当具有完全民事权利和民事行为能力，法人用户在网络平台注册和使用网络平台服务应当获得必要的授权。如用户不符合前述条件，请勿注册，如导致不利后果的，小猪罐子将追究就用户监护人和代理人的法律责任，且小猪罐子有权注销（永久冻结）用户的账户。</p>

<p>2.用户在注册及使用网络平台服务时，应当按照注册页面的提示准确填写用户真实信息（包括但不限于用户真实姓名（名称）、联系电话、联系地址、电子邮箱等信息），如注册信息发生变更的应当及时更新用户资料。用户承诺向小猪罐子网络平台提供的信息和资料是真实、准确、完整、有效和合法的，提供的复印件与原件一致。若因用户填写的联系方式错误无法正常联系，导致用户在使用小猪罐子平台服务过程中产生任何损失或增加费用的，应由用户自行承担。如小猪罐子有合理理由认为用户提供的资料错误、虚假、过时或残缺的，小猪罐子有权向用户发出询问或要求改正的通知，并有权删除虚假资料，或中止、终止对用户提供部分或全部网络平台服务。小猪罐子对此不承担任何责任，用户将自行承担因此造成的损失。</p>

<p>3.用户在成功注册为网络平台用户后，应当妥善保管用户名和密码，不得将用户名转让、赠与或授权给第三方使用，并承诺如下事项：</p>

<p>（1）不泄露账户或密码，不使用他人的账户或密码。</p>

<p>（2）对注册账户及密码进行操作行为承担全部责任。小猪罐子将通过用户的账户和密码识别用户的交易指令，在用户的账户下发出的一切指令均视为用户本人的意思表示和行为，该等指令一经发出就不可撤销，由此产生的一切责任和后果由用户本人承担，小猪罐子不承担任何责任。</p>

<p>（3）使用、盗用、冒用他人账户或密码的，自愿向小猪罐子或其他权利人承担法律责任。</p>

<p>4.用户发现有他人冒用或盗用其账户及密码或从事任何其他未经授权行为的，用户应立即以有效方式通知小猪罐子，要求小猪罐子暂停账户使用。用户知晓并理解，小猪罐子受理用户的请求后采取行动需要合理时间，在此期间，小猪罐子对已执行的指令及(或)用户遭受的损失不承担任何赔偿责任。</p>

<p>5.用户在使用网络平台时应当遵守国家法律、法规、有关部门的规定及小猪罐子网络平台规则，不得通过网络平台从事非法行为（包括洗钱等），也不以任何非法方式使用网络平台。如用户违反上述规定，所产生的一切法律责任和后果全部由用户承担，给小猪罐子或网络平台造成损失的，由用户赔偿所有损失。小猪罐子有权将用户违法违规行为及有关信息资料进行公示、录入用户信用档案、按照法律法规的规定提供给有关政府部门或按照有关协议约定提供给第三方。用户不得利用网络平台从事侵害他人合法权益之行为，否则小猪罐子有权终止提供服务，且有权要求用户承担所有相关法律责任。</p>

<p>6.为保障用户的账户及资金安全，根据协议的约定和相关法律法规，或应司法机关或行政机关的命令或要求，或小猪罐子认为用户的注册账户可能遭受风险，小猪罐子有权对用户的注册账户进行冻结，暂时关闭或限制该账户部分或全部操作权限。小猪罐子有权了解用户使用小猪罐子产品或服务的交易背景及目的，用户应当如实、全面、准确提供小猪罐子所需信息。如果小猪罐子有合理理由怀疑用户提供虚假交易信息的，小猪罐子有权暂时或永久限制用户使用网络平台。</p>

<p><strong>五、用户信息的使用与披露</strong></p>

<p>1.用户同意，为向用户提供服务所需之目的，小猪罐子有权自行收集的用户个人信息和资料，小猪罐子有权按照本协议的约定使用或者披露。</p>

<p>2.为履行协议、解决争议、调停纠纷、保障本网站用户交易安全等目，用户授权小猪罐子使用其个人资料（包括但不限于用户自行提供以及小猪罐子在信用审查中所获取的其他资料）。小猪罐子有权调查多个用户以识别问题或解决争议，小猪罐子有权审查用户的资料、判定用户是否使用多个用户名或别名。</p>

<p>3.为防止用户通过网络平台从事诈骗等违反犯罪活动，保护小猪罐子及其正常用户合法权益，用户授权小猪罐子通过人工或自动程序对用户的个人资料进行评价和衡量。</p>

<p>4.小猪罐子有义务根据有关法律、法规、规章及其他政府规范性文件的要求向司法机关、行政机关、行业组织等提供用户的个人资料及交易信息。在用户未能按照规定和约定履行义务时，小猪罐子有权将用户提交或自行收集的用户信息、违约事实等通过网络、报刊、电视等方式对公众披露，小猪罐子有权将用户提交或自行收集的用户资料和信息与第三方数据共享，以便对用户的其他申请进行审核。</p>

<p>5.小猪罐子将遵守国家法律和法规的规定、采用采用行业标准及惯例保护用户信息。非因小猪罐子过错导致用户信息泄露的，小猪罐子不承担任何法律责任。</p>

<p>6.用户授权小猪罐子使用用户的个人资料用以网络平台的推广和促销工作、分析网络平台的使用率、完善网络平台的内容和服务，增强网络平台的服务功能。</p>

<p>7.用户授权小猪罐子通过在网络平台在特定网页上使用诸如&ldquo;Cookies&rdquo;的设置收集用户信息并进行分析研究，以提升用户服务的契合度。小猪罐子有权向用户传递针对用户的兴趣而提供的信息，包括有针对性的广告条、行政管理方面的通知、产品提供以及有关用户使用网络平台的通讯，用户接受服务协议即为明示同意接受这些资料。</p>

<p><strong>六、知识产权</strong></p>

<p>1.小猪罐子网络平台中的全部内容的知识产权（商标权、专利权、著作权）均属于本网站所有，该等内容包括但不限于文本、数据、源代码、软件、图片、平台架构、平台画面的安排、网页设计及其他全部信息（以下称&ldquo;网络平台内容&rdquo;）。但法律另有规定或当事人另有约定的除外。</p>

<p>2.网络平台内容受《中华人民共和国著作权法》以及其他知识产权法律、法规和国际条约的保护。</p>

<p>3.未经小猪罐子书面授权，任何人擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表网络平台的程序或内容都属于违法行为，小猪罐子将追究行为人的法律责任。</p>

<p><strong>七、风险揭示</strong></p>

<p>1.违规操作风险。用户在在使用网络平台时，如用户不遵从本协议条款、网站说明、交易页面中操作提示、规则，则小猪罐子有权拒绝为用户提供相关服务。</p>

<p>2.因用户的过错或不当行为导致的损失由用户自行承担，该等过错包括但不限于：决策失误、操作不当、遗忘或泄漏密码、密码被他人盗用、用户的计算机被第三方侵入。</p>

<p>3.交易对手违约风险。因交易对手不能按时履行偿付义务，用户有可能遭受损失。</p>

<p>4.不可抗力及其他因素导致的风险。任何投资，均存在不可预见的风险，请用户根据个人的风险偏好及风险承受能力谨慎做出交易决策。</p>

<p><strong>八、责任范围、责任限制及责任免除</strong></p>

<p>（一）责任范围和责任限制</p>

<p>1.小猪罐子仅对本协议中所明示的事项承担责任。</p>

<p>2.小猪罐子将竭力为用户选择优质的第三方服务供应商，但不对第三方服务供应商提供的服务承担瑕疵担保责任或过错赔偿责任。</p>

<p>3.用户经由网络平台下载或取得任何资料，用户应当自担风险，因资料下载而导致用户电脑系统损坏或资料流失，用户自行承担后果。</p>

<p>4.用户从网络平台及小猪罐子工作人员取得的建议和资讯，无论其为书面或口头形式，均不构成小猪罐子对服务的保证。</p>

<p>5.除非本协议另有约定，小猪罐子在本协议项下对用户所承担的违约责任、赔偿责任以用户支付的当次服务费用为限。</p>

<p>6、小猪罐子不保证除小猪罐子网络平台以外的任何第三方网站上信息的真实性和合法性，无论该第三方网站是否通过小猪罐子予以链接、推广。</p>

<p>（二）免责条款</p>

<p>1.鉴于互联网技术的特殊性，小猪罐子无法保证网络平台的持续运营，网络平台因出现下列状况无法正常运作，使用户无法使用各项服务时，小猪罐子不承担损害赔偿责任，有关损失由用户自己承担。该状况包括但不限于：</p>

<p>（1）系统停机维护且经网络平台预先公告的；</p>

<p>（2）电信设备出现故障不能进行数据传输的；</p>

<p>（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成网络平台障碍不能提供服务的；</p>

<p>（4）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的网络平台服务中断或者延迟。</p>

<p>2.交易异常认可。用户使用网络平台时同意并认可，可能由于银行系统问题、银行相关作业网络连线问题或其他不可抗拒因素，造成网络平台服务无法提供。用户应当确保所输入的用户资料准确无误，如果因资料错误造成小猪罐子在网络平台发生异常而无法及时通知用户相关交易后续处理程序的，小猪罐子不承担任何损害赔偿责任。</p>

<p>3.小猪罐子作为第三方中介平台，不对任何注册用户和交易方提交的信息和行为提供担保。用户应当自行评估风险承受能力、评判交易对手信息的真实性和可靠性、判断交易对手的履约能力。用户在网络平台交易所发生直接和间接损失，均由用户自行承担。</p>

<p><strong>九、协议终止</strong></p>

<p>1.如因客观原因或正当事由，小猪罐子无需事先通知即可终止网络平台服务，并暂停、关闭或删除账户及用户账号中所有相关资料及档案，并将用户滞留在该账户的全部合法资金退回到用户的银行账户。如有关操作对用户造成损失的，小猪罐子不承担任何责任。</p>

<p>2.用户有权向小猪罐子申请注销用户的账户。用户决定不再使用个人账号时，应首先清偿所有应付款项（包括但不限于本金、利息、违约金、服务费、管理费等），再将个人账号下所对应的可用款项（如有）全部提现或者向小猪罐子发出其它合法的支付指令，并向小猪罐子申请注销（永久冻结）该账号，经小猪罐子审核同意后可正式注销该账户。届时，用户与小猪罐子的合同关系终止。</p>

<p>3.用户的账户被注销（永久冻结）后，小猪罐子没有义务为用户保留或向用户披露用户账户中的任何信息，也没有义务向用户或第三方转发任何用户未曾阅读或发送过的信息。</p>

<p>4.用户同意，用户与小猪罐子的合同关系终止后，小猪罐子仍享有下列权利：</p>

<p>（1）继续保存用户的注册信息及用户使用小猪罐子服务期间的其他相关信息。</p>

<p>（2）用户在使用小猪罐子服务期间存在违法行为或违反本协议和/或规则的行为的，由此产生的违约或者损害赔偿责任，小猪罐子仍可依据本协议向用户主张权利。</p>

<p><strong>十、特别约定</strong></p>

<p>1.小猪罐子不为用户提供&ldquo;资金管理服务&rdquo;，用户资金由小猪罐子指定的第三方支付平台&ldquo;汇付天下&rdquo;等进行托管。</p>

<p>2.出借人和借款人委托并授权小猪罐子，根据网络平台交易规则向&ldquo;汇付天下&rdquo;发送指令，冻结、扣划、结算资金账户里的资金。</p>

<p>3.用户参与网络平台上的项目投标，一旦项目满标，即视为用户委托、授权小猪罐子将其在汇付天下账户中的对应投标金额的资金向借款人划拨。在借款人汇付天下注册资金账户收到相应借款则视为借款合同生效。借款人在还款到期前，将当期应还本金、利息以其他费用充值到借款人在&ldquo;汇付天下&rdquo;开设的账户，即视为自动委托小猪罐子扣划应还本金、利息到出借人在&ldquo;汇付天下&rdquo;的资金账户，出借人资金账户收到相应还款则视为已履行还款义务。</p>

<p>4.借款期限和利率等事项，由小猪罐子网络平台自动生成的电子借款协议予以确定，协议各方均认可电子协议的法律效力。</p>

<p><strong>十一、条文的解释及争议解决</strong></p>

<p>1.对本协议条款的理解发生争议时，由小猪罐子按照法律规定对进行解释。</p>

<p>2.本协议的效力、签订、履行、变更、终止、解释和争议解决均适用中国法律。</p>

<p>3.本协议部分条款被认定为无效时，不影响本协议其他条款的效力</p>

<p>4.因本协议产生的任何争议，首先应由双方友好协商解决，协商不能解决的，由广东省深圳市南山区人民法院管辖。</p>

<p>（以下无正文）</p>

<p>&nbsp;</p>

</body>
</html>
