<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="__PUBLIC__css/public.css" />
    <?php foreach ($css as $k => $v): ?>
    <link rel="stylesheet" href="__PUBLIC__css/{$v}.css" />
    <?php endforeach; ?>
    <script type="text/javascript">
    //手机UA识别
    var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
    var browser = navigator.userAgent.toLowerCase(); 
    var isMobile = false; 
    for (var i=0; i<mobileAgent.length; i++){ if (browser.indexOf(mobileAgent[i])!=-1){ isMobile = true; 
    //alert(mobileAgent[i]); 
    //location.href = 'http://n-t-t.vip/user/Index/main_m.html';
break; } } 
</script>
    
</head>
<body>
<header>
    <div class="index_bot">
        <div class="top">
            <div class="top_left">
                <span class="index_sj"></span>
                <span>客服热线 : </span>
                <span class="index_phone">400-882-5188</span>
                <span class="index_gz">( 工作日 9:00 - 22:00 )</span>
            </div>
            <div class="top_right">
                <ul>
                    <li><a>登入</a></li>
                    <li><a href="reg.html">注册</a></li>
                    <li><a>充值</a></li>
                    <li><a>小猪问答</a></li>
                    <li><a>新手引导</a></li>
                    <li style="border:none;padding-right:0;margin-top:-8px;">
                        <div class="index_app">
                            <i class="index_dh"></i>
                            掌上APP
                            <i class="index_jt"></i>
                            <div class="index_app_ewm">
                                <div class="index_app_xz">
                                    <i class="index_app_tb"></i>
                                    <img src="">
                                    <p class="index_app_sys">
                                        掌上投资，更加精彩<br>
                                        <span class="index_app_green">下载小猪罐子客户端</span><br>
                                        <a href="https://itunes.apple.com/cn/app/xiao-zhu-guan-zi/id1012792916?mt=8" class="index_app_iphone" title="app iphone 下载">
                                        </a>
                                        <a  href="http://www.xiaozhu168.com/upload/files/app/xiaozhu_2.2.0.apk" class="app_index_android" title="app android 下载">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>   
                    <span class="index_wx">
                        <em class="index_wx_bk"></em>
                        <div class="index_wx_box">
                            <div class="index_wx_div">
                                <span class="index_wx_ewm"></span>
                                扫描关注<span class="green">微信</span>
                            </div>
                        </div>
                    </span>
                    <span class="index_wb">
                        <em class="index_wb_bk"></em>
                        <div class="index_wb_box">
                            <div class="index_wb_div">
                                <span class="index_wb_ewm"></span>
                                扫描关注<span class="red">微博</span>
                            </div>
                        </div>
                    </span>
                   
                   </li> 
                </ul>
            </div>
        </div>
    </div>  
    <!--导航-->
    <div class="nav">
        <div class="logo">
            <a class="index_logo" href="index.html"></a>
        </div>
        <ul>
            <li><a class="  <if condition='$controller eq "Index"'>nav_cur</if>" href="{:U('Index/index')}">首页</a></li>
            <volist name="nav_list" id="v">
            <li><a class=" <if condition='getController_name($v["nav_link"]) eq $controller'>nav_cur</if>" href="{:U($v['nav_link'])}" <if condition="$v.is_open_new eq 1">target='__balank'</if> >{$v.nav_name}</a></li>
            </volist>
        </ul>
    </div>
</header>
