body{}
.product_banner{background: url(../img/lczq001.jpg) center no-repeat;height: 311px;}
.product{background:#eaedf4;overflow:hidden;}


.product_column{width:1200px;margin:0 auto;overflow:hidden;background:#fff;font-size:14px;    margin-bottom: 40px;}
.product_cat{overflow:hidden;margin-top:30px;padding:0 30px;}
.product_cat h2{float:left;padding:5px 0}
.product_cat li{float:left;padding:5px 30px;margin-left:10px;}
.product_cat .cur{background:#1eae58;color:#fff;}
.product_cat li:hover {background:#1eae58;color:#fff;}
.product_xq{border-top:1px solid #ccc;margin-top:20px;}
.product_xq ul li{    border-bottom: 1px solid #efefef;overflow:hidden;}
.product_xq ul li h1{font-size:20px;}
.product_xq ul li .product_div{margin-left:100px;float:left;}
.product_xq ul li p{text-align: center;}
.product_xq ul li em{width:150px;height:10px;background:#ccc;display:block;border-radius:3px;}
.product_xq ul li i{width:63%;height:10px;background:#f1a94e;display:block;border-radius:3px;}
.product_buy{padding:5px 20px;background: linear-gradient(to bottom, #f3bd49, #ef9353);color:#fff;border-radius:3px;}
.product_nr{margin:0;padding:15px 20px;overflow:hidden;;transition: all 0.3s;
    -webkit-transition: all 0.3s;overflow:hidden;}
.product_nr:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1) inset;
    transform: translate(-3px, 0);
    -webkit-transform: translate(-3px, 0);
}
.product_div1{margin:0;padding-top:15px;float:left;}
.product_sy{font-size: 35px; color: rgb(236, 15, 15);margin-bottom:5px;}
.product_p{font-size: 20px;margin-bottom:9px;}
.product_div2{margin-top:29px;}
.product_div3{margin-top: 38px;}
.product_jdt{margin-bottom:15px;}
.product_div4{margin-top:35px;}


/*产品详情*/
.pro_details{background:#fff;width:1200px;margin:0 auto;padding:0px 30px 20px 30px;overflow:hidden;}
.pro_title{overflow:hidden;border-bottom: 1px solid #f0f0f0;}
.pro_title>h1{float:left;font-size:20px;line-height:50px;}
.pro_title>span{float:right;line-height:50px;}
.pro_content{overflow:hidden;padding-top:20px;}
.pro_content hr{height: 0;border: none;border-top: 1px dashed #cccccc;margin:20px 0;}
.pro_cat{width:670px;border-right: 1px solid #eaeaea;float: left;padding-right: 39px;}
.pro_deta{overflow:hidden;margin-bottom:30px;}
.pro_profits{float:left;}
.pro_profits .pro_lv{font-size:20px;color:#ff6235;margin-bottom:20px;}
.pro_profits .pro_mpt{font-size:14px;text-align:center;}
.pro_days{float:left;margin-left:125px;}
.pro_days .pro_01{font-size:20px;margin-bottom:20px;}
.pro_days .pro_02{font-size:14px;text-align:center;}
.pro_plan{margin-bottom: 15px;}
.pro_plan em{width:230px;height:7px;background:#ccc;display: inline-block;    border-radius: 3px;}
.pro_plan i{width:60.3%;height:100%;background:#1eae58;display:block;    border-radius: 3px;}
.pro_note{font-size: 14px;color: #f09851;}
.pro_remind{overflow:hidden;}
.pro_remind span{margin-right:80px;font-size:14px;float:left;}
.pro_remind span i{width: 13px;height: 13px;background: url(../img/icons1.png) no-repeat;display:inline-block;background-position: -23px -155px;float:left;margin:3px 2px 0 0;}

.pro_buy{float:left;width:360px;margin-left: 50px;}
.pro_buy>ul{overflow: hidden;margin-bottom:20px;}
.pro_invest{float:left; border-right: 1px dashed #bfbfbf;padding:0 30px;}
.pro_invest>p,.pro_balance>p{font-size:14px;}
.pro_invest>p>em,.pro_balance>p>em{color:#999999;}
.pro_invest>span{font-size:18px;color:#19bdf0;}
.pro_balance{float:left;padding:0 30px;}
.pro_balance>span{font-size:18px;}
.pro_balance>span>i{width: 16px;height: 10px;background: url(../img/icons.png) no-repeat;background-position: -26px -464px;display:inline-block;margin-left: 6px;margin-bottom:1px;}
.pro_balance>span>i:hover{background: url(../img/icons.png) no-repeat;background-position: -64px -464px;}
.pro_money{padding-left:30px;}
.pro_money .pro_sum{width: 100%; border: 1px solid #ccc;height: 40px;line-height: 40px;border-radius: 3px;margin-bottom: 20px;padding:0px 8px;}
.pro_expect{margin-bottom:20px;}
.pro_expect span{font-size: 14px;color: #f73b0e;}
.pro_gm{display: block;width: 100%;padding: 10px 0;text-align: center;background: linear-gradient(to bottom,#1eae58,#85daa7);border-radius: 5px;color: #fff;font-size: 14px;}
.pro_warning{margin-top: 10px;}
.pro_warning i{width: 14px;height: 14px;background: url(../img/icons.png) no-repeat;background-position: -46px -464px;display:inline-block;position: relative;top: 2px;left: -2px;}
.pro_warning a{color:#1eae58;}


.stitle{width:1200px;margin:0 auto;}
.stitle ul{border-top:1px solid #1eae58;margin-top:30px;overflow:hidden;background:#f4f6f8}
.open{background:linear-gradient(to bottom,#1eae58,#85daa7);color:#fff}
.stitle li{float:left;border-right:1px solid #fff;width:399px;height:40px;line-height:40px;text-align: center;}
.cntorder{width:1200px;margin:0 auto;padding:20px;background:#fff;}
