html {
	font-family: '\5FAE\8F6F\96C5\9ED1';
	color: #666;
	font-size: 12px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

a,select,input {
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

input:autofill,input:-webkit-autofill {
	background-color: #ffffff;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

a {
	text-decoration: none;
	color: #222;
	outline: none;
}

a:hover {
	color: #1eaf58;
	text-decoration: none;
}

i,em {
	font-style: normal;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul,dl {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

input,textarea,select {
	font-family: '\5FAE\8F6F\96C5\9ED1';
	font-size: 1.25rem;
	outline: none;
	vertical-align: top;
	color: #777;
	border: none;
	border-radius: 0;
}

textarea {
	word-wrap: break-word;
	resize: none;
}

input[type='button'],input[type='submit'] {
	cursor: pointer;
}

input[placeholder] {
	color: #555;
}

input[type='text']:focus,textarea:focus,select:focus {
	color: #222;
}

input[type='text']::-ms-clear {
	display: none;
}

input[disabled='disabled'] {
	cursor: not-allowed;
}
/*头部*/
header i {
	background: url(../img/icons.png) no-repeat;
}

header .index_bot {
	border-bottom: 1px solid #f0f0f0;
}

header .top {
	width: 1200px;
	margin: 0 auto;
}

header .index_sj {
	background: url(../img/icons.png) no-repeat;
	background-position: -244px -64px;
	width: 21px;
	height: 21px;
	float: left;
	margin: 11px 10px 0 0;
}

header .top span {
	font-size: 12px;
}

header .top_left {
	height: 40px;
	line-height: 40px;
	text-align: left;
	display: inline-block;
}

header .index_phone {
	color: #1eae58;
	font-weight: bold;
}

header .index_gz {
	color: #acb0b5;
}

header .top_right {
	height: 40px;
	line-height: 40px;
	float: right;
	position: relative;
}

header .top_right ul {
	position: relative;
	top: 13px;
	color: #778493;
}

header .top_right ul li {
	float: left;
	height: 13px;
	line-height: 13px;
	font-size: 12px;
	padding: 0 15px;
	border-right: 1px solid #e0e0e0;
}

header .index_app {
	position: relative;
	width: 90px;
	height: 30px;
	line-height: 27px;
	float: left;
	cursor: pointer;
	border: 1px solid #1eae58;
	border-radius: 4px;
	color: #1eae58;
	text-align: center;
}

header .index_app_ewm {
	width: 258px;
	height: 0;
	position: absolute;
	left: -93px;
	top: 31px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	overflow: hidden;
	z-index: 9998;
}

header .index_app_ewm img {
	width: 105px;
	height: 105px;
	float: left;
}

header .index_app_xz {
	display: flex;
	;padding: 12px;
	margin-top: 12px;
	border: 1px solid #dfdfdf;
	border-radius: 8px;
	background: #fff;
	position: relative;
	cursor: default;
}

header .index_app_tb {
	position: absolute;
	left: 130px;
	top: -10px;
	width: 13px;
	height: 10px;
	background-position: -387px -436px;
}

header .index_app_sys {
	width: 110px;
	color: #666666;
	margin-left: 19px;
	line-height: 16px;
}

header .index_app_green {
	color: #1eae58;
	margin-top: 5px;
	display: block;
}

header .index_app_iphone {
	background: url(../img/index_img.png) no-repeat -107px 0;
	background-position: -321px 0;
	margin-top: -10px;
	display: block;
	color: #666666;
	width: 107px;
	height: 32px;
}
header .index_download{
	border:none;padding-right:0;margin-top:-8px;
}
header .app_index_android {
	background: url(../img/index_img.png) no-repeat -107px 0;
	background-position: -107px 0;
	margin-top: 3px;
	display: block;
	color: #666666;
	width: 107px;
	height: 32px;
}

.index_app_iphone:hover {
	background-position: -214px 0;
}

.app_index_android:hover {
	background-position: 0 0;
}

header .index_dh {
	width: 9px;
	height: 14px;
	background-position: -344px -414px;
	position: absolute;
	left: 6px;
	top: 25%;
}

header .index_jt {
	width: 7px;
	height: 5px;
	background-position: -358px -414px;
	position: absolute;
	top: 40%;
	right: 6px;
	-webkit-transition: background-position 0.3s;
}

header .index_app:hover .index_app_ewm {
	height: 145px;
	z-index: 9998;
}

.index_app:hover .index_jt {
	background-position: -358px -421px;
}

header .index_wx {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/index_img.png) no-repeat;
	background-position: -61px -40px;
	float: left;
	margin: 3px 15px 0px 20px;
	cursor: pointer;
	position: relative;
}

.index_wx:hover {
	background-position: -91px -40px;
}

.index_wb:hover {
	background-position: -31px -40px;
}

header .index_wx_bk {
	width: 37px;
	height: 41px;
	border: 1px solid #dfdfdf;
	border-width: 0 1px;
	box-shadow: 0 -4px 2px 0 rgba( 0 , 0 , 0 , .3 );
	position: absolute;
	left: -7px;
	top: -8px;
	z-index: 2;
	display: none;
	z-index: 998
}

.index_wx_bk:after {
	width: 100%;
	height: 2px;
	display: block;
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ffffff;
}

header .index_wx_box {
	width: 135px;
	height: 0;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
	text-align: center;
	position: absolute;
	right: -7px;
	top: 16px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	overflow: hidden;
	cursor: default;
	z-index: 2;
}

header .index_wx_div {
	width: 132px;
	height: 148px;
	position: absolute;
	right: 0;
	top: 16px;
	border: 1px solid #dfdfdf;
	border-radius: 4px 0 4px 4px;
	background: #ffffff;
	box-shadow: 0 0 2px 0 rgba( 0 , 0 , 0 , .1 );
}

header .green {
	color: #1eae58;
}

header .red {
	color: red;
}

header .index_wx_ewm {
	width: 106px;
	height: 106px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: url(../img/) no-repeat;
	display: block;
}

.index_wx:hover .index_wx_bk,.index_wb:hover .index_wb_bk {
	display: block;
}

.index_wx:hover .index_wx_box,.index_wb:hover .index_wb_box {
	height: 165px;
}

header .index_wb {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/index_img.png) no-repeat;
	background-position: -1px -40px;
	float: right;
	margin: 3px 0px 0px 0px;
	cursor: pointer;
	position: relative;
}

header .index_wb_bk {
	width: 37px;
	height: 41px;
	border: 1px solid #dfdfdf;
	border-width: 0 1px;
	box-shadow: 0 -4px 2px 0 rgba( 0 , 0 , 0 , .3 );
	position: absolute;
	left: -7px;
	top: -8px;
	z-index: 2;
	display: none;
	z-index:
}

.index_wb_bk:after {
	width: 100%;
	height: 2px;
	display: block;
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ffffff;
}

header .index_wb_box {
	width: 135px;
	height: 0;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
	text-align: center;
	position: absolute;
	right: -7px;
	top: 16px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	overflow: hidden;
	cursor: default;
	z-index: 1;
}

header .index_wb_div {
	width: 132px;
	height: 148px;
	position: absolute;
	right: 0;
	top: 16px;
	border: 1px solid #dfdfdf;
	border-radius: 4px 0 4px 4px;
	background: #ffffff;
	box-shadow: 0 0 2px 0 rgba( 0 , 0 , 0 , .1 );
}

header .index_wb_ewm {
	width: 106px;
	height: 106px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: url(../img/) no-repeat;
	display: block;
}

/*导航*/
.nav {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}

.nav_cur{
	color: #1eae58;
}

.nav .index_logo {
	background: url(../img/logo.png)no-repeat;
	width: 450px;
	height: 55px;
	display: block;
	float: left;
	margin-top: 15px;
}

.nav ul {
	float: right;
}

.nav ul li {
	float: left;
	height: 62px;
	line-height: 62px;
	margin-left: 45px;
	font-size: 16px;
}



/*底部*/
.index_bottom {
	box-shadow: 2px -2px 5px #e0e2e9;
}

.index_bottom_content {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 0px;
	overflow: hidden;
}

.index_bottom_content ul {
	float: left;
	margin: 0px 30px;
	font-size: 14px;
	color: #000;
	margin-left:0;
}

.index_bottom_content ul li {
	font-size: 12px;
	margin-top: 19px;
	text-align: center;
}

.index_bottom_content ul li a {
	color: #666;
}

.index_bottom_content ul li:hover a {
	color: #1eae58;
}

.index_bottom_sm {
	padding: 0 50px;
	overflow: hidden;
	float: left;
	margin-top: -2px;
	border-left: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
	margin-left: 60px;
}

.index_bottom_sm p {
	text-align: center;
}

.index_foot_kf {
	width: 110px;
	height: 35px;
	background: url(../img/index-pics.png) no-repeat -148px 0;
	display: block;
}

.index_foot_rx {
	margin-top: 10px;
	color: #666666;
}

.index_foot_rx span {
	color: #acb0b5;
}

.index_foot_dh {
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-top: 10px;
}

.index_foot_xz {
	margin-top: 10px;
}

.index_foot_ip {
	text-align: center;
	display: block;
	height: 35px;
	line-height: 35px;
	background: url(../img/index_img.png) no-repeat;
	background-position: -321px 0px;
	width: 107px;
	cursor: pointer;
	float: left;
}

.index_foot_ar {
	text-align: center;
	display: block;
	height: 35px;
	line-height: 35px;
	background: url(../img/index_img.png) no-repeat;
	background-position: -107px 0px;
	width: 107px;
	cursor: pointer;
	float: left;
	margin-left: 14px;
}

.index_foot_ip:hover {
	background-position: -214px 0px;
}

.index_foot_ar:hover {
	background-position: left top;
}

.index_foot {
	background: #2d3e50;
	overflow: hidden;
}

.index_foot ul {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0;
}

.index_foot ul li {
	width: 88px;
	height: 39px;
	float: left;
	margin-left: 20px;
}

.index_foot_a1 {
	background: url(../img/homebg.png) no-repeat;
	transition: all .2s ease-in-out;
}

.index_foot_a2 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -100px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a3 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -200px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a4 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -300px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a5 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -400px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a6 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -500px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a7 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -600px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a8 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -700px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a9 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -800px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a10 {
	background: url(../img/homebg.png) no-repeat;
	background-position: -900px 0;
	transition: all .2s ease-in-out;
}

.index_foot_a1:hover {
	background-position: 0 -43px;
}

.index_foot_a2:hover {
	background-position: -100px -43px;
}

.index_foot_a3:hover {
	background-position: -200px -43px;
}

.index_foot_a4:hover {
	background-position: -300px -43px;
}

.index_foot_a5:hover {
	background-position: -400px -43px;
}

.index_foot_a6:hover {
	background-position: -500px -43px;
}

.index_foot_a7:hover {
	background-position: -600px -43px;
}

.index_foot_a8:hover {
	background-position: -700px -43px;
}

.index_foot_a9:hover {
	background-position: -800px -43px;
}

.index_foot_a10:hover {
	background-position: -900px -42px;
}

.index_foot_approve{
	text-align: center;
}

.index_foot_ewm{
	float:left;
}

.index_foot_ewmxz{
	float:left;margin-left:30px;
}

.index_foot_hotline{
	float:left;margin: -10px 0 0 70px;
}

.nav_lj{
	color:#1eae58
}

.tooltip {
	font-size: 12px;
	font-family: \5b8b\4f53;
	line-height: 1.5;
	position: absolute;
	padding: 5px;
	z-index: 100003;
	opacity: .8
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 6px dashed #FFA500;
	top: 0;
	left: 10px;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.tipsy-arrow-n {
	border-bottom-color: #FFA500;
}

.tipsy-inner {
	background-color: #FFA500;
	color: #fff;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
	border-radius: 3px
}
.product_nav{width:1200px;margin:0 auto;line-height:60px;font-size:14px;color:#666;}
.product_nav .icon_house{background:url(../img/icons.png) no-repeat;background-position: -210px -122px;width: 18px;height: 18px;float:left;margin: 21px 10px 0 5px;}
.product_nav .icon_leftarrow{background:url(../img/icons.png) no-repeat;background-position: -432px -45px;width: 10px;height: 10px;margin: 21px 5px 0 5px;display:inline-block;}