/*账户总览*/
.user {
    background: #eaedf4;
    overflow: hidden;
}

.user_content {
    width: 1200px;
    margin: 0 auto;
    display: table;
    margin-bottom: 30px;
}

.user_left {
    width: 200px;
    background: #fff;
    float: left;
    overflow: hidden;
    box-shadow: 2px -1px 5px rgba(63, 68, 80, 0.48);
}

.user_left_box {
    margin-bottom: 30px;
}

.user_left h1 {
    background: linear-gradient(to bottom, #cac4b9, #e6dfd9);
    font-size: 16px;
    color: #000;
    text-indent: 40px;
    ;height: 50px;
    line-height: 50px;
}

.user_left ul li a {
    height: 40px;
    line-height: 40px;
    text-indent: 40px;
    display: block;
}

.user_left ul li a:hover {
    border-left: 5px solid #1eae58;
    font-size: 14px;
    border-top: 1px solid #b2b3b5;
    border-bottom: 1px solid #b2b3b5;
    color: #1eae58;
}

.user_right {
    margin-left: 15px;
    width: 980px;
    float: left;
}

td {
    text-align: center;
}

.user_cur {
    border-left: 5px solid #1eae58;
    font-size: 14px;
    border-top: 1px solid #b2b3b5;
    border-bottom: 1px solid #b2b3b5;
    color: #1eae58;
}

.user_right_info {
    background: #fff;
    overflow: hidden;
    padding: 20px 50px;
    border: 1px solid #dcdfe6;
    margin-bottom: 2px;
}

.user_right_info img {
    float: left;
}

small {
    font-size: 12px;
    color: #999;
}

.user_account {
    float: left;
    width: 390px;
    margin-left: 10px;
}

.user_binding {
    overflow: hidden;
    margin-left: 5px;
}

.user_account i {
    margin-right: 20px;
}

.user_account i:first-child {
    width: 36px;
    height: 36px;
    background: url(../img/icon-user.png) no-repeat;
    display: block;
    float: left;
}

.user_account i:first-child+i {
    width: 36px;
    height: 36px;
    background: url(../img/icon-user.png) no-repeat;
    display: block;
    float: left;
    background-position: 0px -120px;
}

.user_account i:first-child+i+i {
    width: 36px;
    height: 36px;
    background: url(../img/icon-user.png) no-repeat;
    display: block;
    float: left;
    background-position: 0px -80px;
}

.user_account i:first-child+i+i+i {
    width: 36px;
    height: 36px;
    background: url(../img/icon-user.png) no-repeat;
    display: block;
    float: left;
    background-position: 0px -40px;
}

.user_data {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
    margin-left: 5px;
}

.user_data span {
    color: #333;
}

.user_data b {
    color: #ff6235;
    margin-left: 10px;
}

.user_data a {
    margin-left: 100px;
    color: #1eae58;
    font-size: 12px;
}

.user_perfect {
    margin-top: 10px;
    position: relative;
}

.user_article {
    width: 300px;
    height: 10px;
    background: #ccc;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 4px 5px;
}

.user_article em {
    width: 60%;
    height: 100%;
    background: #1eae58;
    display: block;
    border-radius: 3px;
}

.user_perfect a {
    margin-left: 5px;
    color: #1eae58
}

.user_sign {
    margin: 3px 0 0 77px;
    display: inline-block;
    background: linear-gradient(to bottom, #ff6235, #824d20);
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

.user_perfect .user_bd {
    position: absolute;
    right: 85px;
    top: -22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 3px;
    display: none;
}

.user_perfect:hover .user_bd {
    display: block;
}

.user_top_up {
    float: left;
    border-left: 1px dashed #dcdfe6;
    width: 376px;
    margin-left: 10px;
}

.user_top_up li {
    text-align: center;
}

.user_top_up .user_yue {
    font-size: 16px;
    color: #999;
    margin-bottom: 5px;
}

.user_top_up span {
    font-size: 24px;
    color: #ff6235;
    margin-bottom: 5px;
}

.user_top_up a:first-child {
    background: #ff6235;
    margin-left: 75px;
}

.user_top_up a:first-child+a {
    background: #1eae58;
    margin-left: 20px;
}

.user_top_up a {
    width: 105px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    color: #fff !important;
    font-size: 14px;
    border-radius: 3px;
    float: left;
}

.user_grand {
    background: #fff;
    margin-bottom: 2px;
    border: 1px solid #dcdfe6;
    position: relative;
}

.user_grand ul {
    overflow: hidden;
    padding: 20px 0;
}

.user_grand li {
    float: left;
    border-right: 1px dashed #dcdfe6;
}

.user_grand li:first-child+li+li+li+li {
    border: none
}

.user_grand i {
    background: url(../img/icon-recharge.png) no-repeat;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
}

.user_grand em {
    display: table;
    margin: 10px 20px 5px 20px;
    color: #333;
    font-size: 14px;
}

.user_grand span {
    color: #ff6235;
    font-size: 14px;
}

#scrollDiv li a {
    color: red;
    font-size: 14px;
}

#scrollDiv {
    background: #fff;
    border: 1px solid #dcdfe6;
    padding-left: 100px;
    margin-bottom: 2px;
    position: relative;
    display: flex;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}

#scrollDiv b {
    background: #21c9f3;
    border-radius: 5px;
    width: 95px;
    height: 35px;
    position: absolute;
    top: 0px;
    left: -5px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 15px;
}
.user_recent{
    background:#fff;
    height:311px;
    border: 1px solid #dcdfe6;
    position:relative;
}
.user_recent a{
    position: absolute;
    top: 6px;left: 6px;
    color: #1eae58;
}
.user_recent_title{
    background: linear-gradient
    (to bottom, #dacdc9, #f3f0ed);
    height: 30px;font-size: 14px;
}
.user_record{height:30px;}



/*个人资料*/
                .user_datas{margin-left: 15px;width: 980px;float: left;}
                .user_datas h1{font-size:16px;font-weight:bold;padding:25px 30px;border: 1px solid #dcdfe6;margin-bottom: 2px;background:#fff;}
                .user_data_content{background:#fff;padding:0 30px;border: 1px solid #dcdfe6;padding-bottom:30px;}
                .user_data_content ul{overflow:hidden;width:600px;}
                .user_data_content ul li{margin-top: 25px;overflow: hidden;line-height: 36px;}
                .user_data_content ul li i{width: 36px;height: 36px;background: url(../img/icon-user.png) no-repeat;display:inline-block;float: left;margin-right:20px;}
                .user_data_content ul li .user_1{background-position:0 0px}
                .user_data_content ul li .user_2{background-position:0 -40px}
                .user_data_content ul li .user_3{background-position:0 -80px}
                .user_data_content ul li .user_4{background-position:0 -120px}
                .user_data_content ul li .user_5{background-position:0 -160px}
                .user_data_name{width: 182px;color: #333;font-size: 16px;display: inline-block;}
                .user_data_title{width: 558px;font-size: 14px;color: #999;overflow: hidden;}
                .user_data_title em{float:right; width: 100px;height: 30px;line-height: 30px;border: 1px solid #ff6235;color: #ff6235;display: inline-block;text-align: center;border-radius: 15px;cursor: pointer;margin-top: 3px;}




/*投资记录*/
                .user_financial{margin-left: 15px;width: 980px;float: left;}
                .user_financial h1{font-size:16px;font-weight:bold;padding:25px 30px;border: 1px solid #dcdfe6;margin-bottom: 2px;background:#fff;}
                .user_financial_content{background:#fff;padding:0 30px;border: 1px solid #dcdfe6;padding-bottom:30px;}
                .user_financial_content ul{overflow:hidden;border-bottom: 1px solid #dcdfe6;}
                .user_financial_content ul .open{ border-bottom: 4px solid #1eae58;color: #333;}
                .user_financial_content ul li{ color: #999;font-size: 16px;float: left;cursor: pointer;margin-right: 30px;line-height: 34px;min-width: 75px;text-align: center;}
                .user_final_content th{text-align:left;text-indent:11px;font-size:14px;line-height:50px;color:#999;}
                .user_final_content td{text-align:left;text-indent:11px;margin-top:10px;line-height:40px;}
                .user_tr{background:#eaedf4;}
                .user_final_content {margin-top:20px;}



/*付本还息*/  
                .user_rest{margin-left: 15px;width: 980px;float: left;}
                .user_rest h1{font-size:16px;font-weight:bold;padding:25px 30px;border: 1px solid #dcdfe6;margin-bottom: 2px;background:#fff;}
                .user_rest_content{background:#fff;padding:0 30px;border: 1px solid #dcdfe6;padding-bottom:30px;}
                .user_rest_content ul{overflow:hidden;border-bottom: 1px solid #dcdfe6;}
                .user_rest_content ul .open{ border-bottom: 4px solid #1eae58;color: #333;}
                .user_rest_content ul li{ color: #999;font-size: 16px;float: left;cursor: pointer;margin-right: 30px;line-height: 34px;min-width: 75px;text-align: center;}
                .user_rest_tab th{text-align:left;text-indent:11px;font-size:14px;line-height:50px;color:#999;}
                .user_rest_tab td{text-align:left;text-indent:11px;margin-top:10px;line-height:40px;}
                .user_rest_tab .user_tr{background:#eaedf4;}
                .user_rest_tab {margin-top:20px;}



/*充值提现*/
        .user_assets{margin-left: 15px;width: 980px;float: left;}
                .user_assets h1{font-size:16px;font-weight:bold;padding:25px 30px;border: 1px solid #dcdfe6;margin-bottom: 2px;background:#fff;}
                .user_assets_content{background:#fff;padding:0 30px;border: 1px solid #dcdfe6;padding-bottom:30px;}
                .user_assets_content .user_tabe{height: 55px;line-height: 55px; background: #f5f5f5;font-size: 14px;}
                .user_assets_content .user_tabe .open{border-top: #1eae58 2px solid;border-left: #ebebeb solid 1px;border-right: #ebebeb solid 1px;background: #fff;border-bottom:none;}
                .open a{color: #1eae58;display: block;}
                .user_assets_content .user_tabe li{float: left;width: 95px;height: 55px;line-height: 55px;text-align: center;border-bottom: #ebebeb solid 1px;}
                .user_assets_content .user_tabe .user_total{ width:586px; float:right;}
                .user_total span{display: block;float: right;height: 55px;line-height: 55px;    margin-right: 20px;}
                .user_total span em{font-size: 18px;font-weight: bold;color: #ff5943;}
                .user_total i{background: url(../img/icons.png) no-repeat;    width: 25px;height: 25px;background-position: -171px -148px;    margin-top: 16px;float: right;margin-right: 10px;}
                .user_assets_tab th{text-align:left;text-indent:11px;font-size:14px;line-height:50px;color:#999;}
                .user_assets_tab td{text-align:left;text-indent:11px;margin-top:10px;line-height:40px;}
                .uesr_cz_rq li{float:left;}
                .user_assets_tab .user_tr{background:#eaedf4;}
                .user_assets_tab {margin-top:20px;}
                .user_assets_cztx{overflow: hidden;margin-bottom:30px;}
                .user_assets_sum{display: block;float: left;width: 500px;text-align: left;padding-left: 20px;font-size: 16px;color: #666;height: 80px;line-height: 80px;}
                .user_assets_sum em{color: #ff5943;font-size: 22px;font-weight: bold;position:relative;top:2px;}
                .user_assets_atm a{width: 115px;height: 45px;line-height: 45px;text-align: center;border: none;border-radius: 5px;display:inline-block;color: #fff;margin-top: 17px; background:linear-gradient(to bottom, #ff6235, #824d20);font-size:16px;}
                .user_assets_atm a:first-child+a{background:linear-gradient(to bottom, #9895c1, #382d67)}

                .user_assets_content .user_tabe .user_take_tixian{ width:586px; float:right;}
                .user_take_tixian span{display: block;float: right;height: 55px;line-height: 55px;    margin-right: 20px;}
                .user_take_tixian span em{font-size: 18px;font-weight: bold;color: #ff5943;}
                .user_take_tixian i{background: url(../img/icons.png) no-repeat;    width: 25px;height: 25px;background-position: -201px -150px;    margin-top: 18px;float: right;margin-right: 10px;}



/*资金流水*/
                .user_fund{margin-left: 15px;width: 980px;float: left;}
                .user_fund h1{font-size:16px;font-weight:bold;padding:25px 30px;border: 1px solid #dcdfe6;margin-bottom: 2px;background:#fff;}
                .user_fund_content{background:#fff;padding:20px; 30px;border: 1px solid #dcdfe6;padding-bottom:30px;}
                .user_fund_screen{overflow:hidden;}
                .user_fund_screen ul{font-size:14px;overflow: hidden;}
                .user_fund_screen ul li{float:left;}
                .user_fund_screen ul li:first-child{margin-left:20px;}
                .user_fund_screen ul li a{   width: 60px;display: block;text-align: center;padding:2px 0px;border-radius: 10px;}
                .user_fund_screen .fund_cur a{color: #fff;background: #1eae58;}
